<!-- frontend -->
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Intelligent Academic Planner - Advisor</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->


</head>

<body>
    <%- include header.ejs %>
        <div class="container-fluid">
            <div class="col-sm-9">
                <div class="panel panel-primary">
                </div>
            </div>
            <div class="col-sm-3">
                <%- include user-card-module.ejs %>
                    <%- include question-feed-module.ejs %>
            </div>

        </div>
        <%- include footer.ejs %>
</body>

</html>
