<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login &amp; Register</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/form3/assets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/form3/assets/css/form-elements.css">
        <link rel="stylesheet" href="css/form3/assets/css/style.css">
        <link rel="stylesheet" href="css/sticky-footer.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="css/form3/assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="css/form3/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="css/form3/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="css/form3/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="css/form3/assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>

        
            <!-- NAVBAR -->
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">

            <div class="navbar-header">
              <a class="navbar-brand" href="index.html">Intelligent Academic Planner</a>
            </div>
            
            <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="login.html"><span class="glyphicon glyphicon-user"></span> Login/Register</a></li>
            </ul>
          
          </div>
        </nav>

    <div class="container">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
          <form class="form-horizontal" action="" method="post">
          <fieldset>
            <legend class="text-center">Contact us</legend>
    
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Name</label>
              <div class="col-md-9">
                <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
              </div>
            </div>
    
            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">Your E-mail</label>
              <div class="col-md-9">
                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
              </div>
            </div>
    
            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message">Your message</label>
              <div class="col-md-9">
                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
              </div>
            </div>
    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
  </div>
</div>

        <!-- Footer -->
        <footer class="footer">
          <div class="container text-center"> 
            <p class="text-muted">
              Copyright &copy; 2017 | 
              <a href="contact.html">Contact</a>
            </p>
          </div>
        </footer>

        <!-- Javascript -->
        <script src="css/form3/assets/js/jquery-1.11.1.min.js"></script>
        <script src="css/form3/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="css/form3/assets/js/scripts.js"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>