<!-- Footer -->
<footer class="footer">
    <div class="container text-center">
        <p class="text-muted">
            Copyright &copy; 2017 |
            <a href="contact.html">Contact</a>
        </p>
    </div>
</footer>


<!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
    <![endif]-->

<script src="./js/postExec.js"></script>
