<link rel="icon" href="../img/favicon.ico" type="image/x-icon"/>
<!-- style sheets, jQuery libs, bootstraps -->
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/form3/assets/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="css/form3/assets/css/form-elements.css">
<link rel="stylesheet" href="css/form3/assets/css/style.css">
<link rel="stylesheet" href="css/sticky-footer.css">

<!-- Noty CSS -->
<link rel="stylesheet" type="text/css" href="../css/animate.css">

<!-- Test Css -->
<link rel="stylesheet" type="text/css" href="../css/test.css">

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<!-- socket.io -->
<script src="/socket.io/socket.io.js"></script>
<script src="../js/socket-client.js"></script>

<!-- dropzone -->
<script src="./js/dropzone.js"></script>

<!-- Noty -->
<script src="../js/jquery.noty.packaged.js"></script>

<!-- Client utility functions -->
<script src="../js/clientUtilityFunction.js"></script>
<script src="../js/test.js"></script>

<!-- Bootstrap Javascript -->
<script src="css/form3/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="css/form3/assets/js/scripts.js"></script>

<!-- End import -->

<!-- NAVBAR -->
<nav class="navbar navbar-inverse navbar-static-top" style="margin-bottom: 0">
	<div class="container-fluid">

		<div class="navbar-header">
          <a class="navbar-brand" href="/" style="display:inline-block;vertical-align:middle;"><img class="responsive" src="images/IAP_logo_wh.png" height="100%" style="display:inline-block;vertical-align:middle;"><span>Intelligent Academic Planner</span></a>
        </div>

		<ul class="nav navbar-nav navbar-right">

			<% if (locals.user) { %>
			<li class="active">
				<a href="#" class="dropdown" data-toggle="dropdown">
					<span class="user-avatar pull-left" style="margin-right:8px; margin-top:-5px;">
						<img class="img-responsive img-circle" title="<%= user.local.email %>" alt="<%= user.local.email %>" src="<%= user.local.avatar %>" width="30px" height="30px"></img>
					</span><span style="color:#19b9e7"><%= user.local.displayName %></span>
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li ><a href="/profile" class="btn"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
					<li><a href="/inbox" class="btn"><span class="glyphicon glyphicon-envelope"></span> Inbox</a></li>
					<li><a href="/logout" class="btn"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				</ul>
			</li>
			<% } %>

			<% if (locals.user && user.local.role == "admin") { %>   
			<li title="about"><a href="/admin" class="menu-admin-btn">Console</a></li>
			<% } %>

			<% if (!locals.user) { %>
			<li class="active">
				<a href="/login" style="color:#19b9e7"><span class="glyphicon glyphicon-user"></span> Login/Register</a>
			</li>
			<% } %>
		</ul>
	</div>
</nav>
