<!-- frontend -->
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Intelligent Academic Planner - Login &amp; Register</title>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->

</head>

<body>
  <%- include header.ejs %>


    <%- include search-bar-module.ejs %>

      <!-- Top content -->
      <div class="top-content">


        <div class="container" style="padding-bottom: 50px">

          <div class="row">
            <div class="col-sm-8 col-sm-offset-2" style="padding-top: 20px">
              <h1>Login &amp; Register</h1>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5">
              <div class="form-box">
                <div class="form-top">
                  <div class="form-top-left">
                    <h3>Login to our site</h3>

                    <p>Enter email and password to log on:</p>

                  </div>
                  <div class="form-top-right">
                    <i class="fa fa-key"></i>
                  </div>
                </div>
                <div class="form-bottom">
                  <form role="form" action="/login" method="post" class="login-form" id="login-form">
                    <div class="form-group">

                      <label class="sr-only" for="form-username">Email</label>
                      <input type="text" name="email" placeholder="Email" class="form-username form-control" id="form-username">
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="form-password">Password</label>
                      <div class="password-group">
                        <input type="password" name="password" placeholder="Password" class="form-password form-control" id="form-password">
                        <span class="show-password-btn"><i class="fa fa-eye" aria-hidden="true"></i></span>
                        <a href="/reset-password" class="btn btn-link" id="forgot-pw">Forgot Password?</a>
                      </div>
                    </div>
                    <!-- k* <div class="checkbox">
                                            <label><input type="checkbox"> Remember me</label>
                                        </div> -->
                    <button type="submit" class="btn">Sign in!</button>
                    <!-- k* <a href="resetpw.html">Forgot Password?</a> -->
                  </form>
                </div>
              </div>

              <div class="social-login">
                <h3>...or login with:</h3>
                <div class="social-login-buttons">
                  <a href="/auth/facebook" class=""><i class="fa fa-facebook-official" style="font-size:24px; padding: 0px 5px"></i></a>
                  <a href="/auth/linkedin" class=""><i class="fa fa-linkedin" style="font-size:24px; padding: 0px 5px"></i></a>
                  <a href="/auth/twitter" class=""><i class="fa fa-twitter" style="font-size:24px; padding: 0px 5px"></i></a>
                  <a href="/auth/google" class=""><i class="fa fa-google" style="font-size:24px; padding: 0px 5px"></i></a>

                  <!-- <i class="fa fa-amazon" style="font-size:24px; padding: 0px 5px"></i>
                                    <i class="fa fa-instagram" style="font-size:24px; padding: 0px 5px"></i>
                                    <i class="fa fa-weibo" style="font-size:24px; padding: 0px 5px"></i> -->
                </div>
              </div>

            </div>

            <div class="col-sm-1 middle-border" id="middle-divider"></div>
            <div class="col-sm-1"></div>

            <div class="col-sm-5">

              <div class="form-box">
                <div class="form-top">
                  <div class="form-top-left">
                    <h3>Sign up now</h3>
                    <div class="description text-left">
                      <p>Enjoy the benefits of registering with us!<br>
                        <ul class="list-unstyled">
                          <li><span class="glyphicon glyphicon-education" style="padding-right: 10px"></span>Personality Assessment</li>
                          <li><span class="glyphicon glyphicon-pushpin" style="padding-right: 10px"></span>Easy Question Retrieval</li>
                          <li><span class="glyphicon glyphicon-apple" style="padding-right: 10px"></span>Advising Assistance</li>
                        </ul>
                      </p>
                    </div>
                  </div>
                  <div class="form-top-right">
                    <i class="fa fa-pencil"></i>
                  </div>

                </div>
                <div class="form-bottom">
                  <form role="form" action="/" method="post" class="registration-form" id="signup-form">
                    <div class="form-group">
                      <label class="sr-only" for="form-first-name">First name</label>
                      <input type="text" name="first_name" placeholder="First name" class="form-first-name form-control" id="form-first-name">
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="form-last-name">Last name</label>
                      <input type="text" name="last_name" placeholder="Last name" class="form-last-name form-control" id="form-last-name">
                    </div>
                    <div class="form-group">
                      <select class="select-major form-control" multiple="true" id="form-major" name="Major" placeholder="Enter majors, sparate by comma">
                          <option>Computer Science</option>
                          <option>Computer Engineering</option>
                          <option>Software Engineering</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="form-email">Email</label>
                      <input type="text" name="email" placeholder="Email" class="form-email form-control" id="form-email">
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="form-password">Password</label>
                      <input type="password" name="password" placeholder="Password" class="form-password form-control signup-form-password" id="signup-form-password" data-signup-password>
                      <span class="show-password-btn"><i class="fa fa-eye" aria-hidden="true"></i></span>
                      <div class="form-group password-rule-list" style="display:none">
                        <li id="password-lower-letter-condition"><i id="password-lower-letter-condition-icon" class="fa fa-square-o" aria-hidden="true"></i> At least 1 lower case letter</li>
                        <li id="password-upper-letter-condition"><i id="password-upper-letter-condition-icon" class="fa fa-square-o" aria-hidden="true"></i> At least 1 upper case letter</li>
                        <li id="password-number-condition"><i id="password-number-condition-icon" class="fa fa-square-o" aria-hidden="true"></i> At least 1 number</li>
                        <li id="password-length-condition"><i id="password-length-condition-icon" class="fa fa-square-o" aria-hidden="true"></i> At least 8 characters long</li>
                        <li id="password-special-letter-condition"><i id="password-special-letter-condition-icon" class="fa fa-square-o" aria-hidden="true"></i> No special character</li>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="form-acct-type">Account Type</label>
                      <select class="form-control" id="form-register-role" name="account_role">
                                                <option>Student</option>
                                                <option>Advisor</option>
                                                <option>Admin</option>
                                            </select>
                    </div>
                    <div class="form-group hidden" id="form-advisor-token">
                      <label class="sr-only" for="advisor_token">Advisor Token</label>
                      <input type="text" name="advisor-token" placeholder="Advisor Token" class="form-advisor-token form-control">
                    </div>
                    <div class="form-group hidden" id="form-admin-token">
                      <label class="sr-only" for="admin_token">Admin Token</label>
                      <input type="text" name="admin-token" placeholder="Admin Token" class="form-admin-token form-control">
                    </div>
                    <button type="submit" class="btn">Sign up!</button>
                    <div class="loader" style="display:none"></div>
                </div>
                </form>
              </div>

            </div>

          </div>
        </div>

      </div>


      </div>

      <%- include footer.ejs %>

</body>

</html>
