<style>
.question-feed {
    font-size: 14px;
    text-align: left;
    line-height: 17px;
    padding: 5px;
}
</style>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Question Feed</h4>
    </div>
    <div class="panel-body question-feed">
        <ul class="nav nav-pills nav-stacked shadow mb-20 ">
            <li>
                <a href="some question">Here is some generated question, there is a char limit....</a>
            </li>
            <li>
                <a href="some question">Here is some generated question, there is a char limit....</a>
            </li>
            <li>
                <a href="some question">Here is some generated question, there is a char limit....</a>
            </li>
            <li>
                <a href="some question">Here is some generated question, there is a char limit....</a>
            </li>
            <li>
                <a href="some question">Here is some generated question, there is a char limit....</a>
            </li>
        </ul>
    </div>
</div>
