<style>
    .q-responses {
        padding-left: 25px;
        background-image: url(images/Penn_State_Logo.png);
        background-position: center;
        background-size: 90%;
        background-repeat: no-repeat;
        overflow: scroll;
        height: 400px;
    }
    #stars-existing {
        white-space: nowrap;
    }
    #hearts-existing {
        float: right;
    }
    .list-group-item {
        display: list-item;
        opacity: 0.95;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading">Answers</div>

    <div class="panel-body q-responses">
      <div id="answer-low-confidence-warning" class="col-lg-12 hide" style="float:none">Sorry, I see the question is not in my knowledge domain, so my answer might be inaccurate.</div>
        <ol class="list-group chat-thread" id="answer-list">
<!--             POPULATE THIS AREA WITH THE RESPONSES-->

        </ol>


    </div>
</div>


<!--   <ul class="chat-thread">

  </ul> -->
