<!-- frontend -->
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Intelligent Academic Planner - Update Password</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
</head>

<body>
    <%- include header.ejs %>
        <!-- Top content -->
        <div class="top-content">
            <div class="container" style="padding-bottom: 50px">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2" style="padding-top: 20px">
                        <h1>Update Password</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-box">
                            <div class="form-bottom">
                                <form role="form" id="update-password-form">
                                    <div class="form-group">
                                        <label for="form-username">Email</label>
                                        <input type="text" name="email" value=<%- JSON.stringify(locals.reset_email) %> class="form-username form-control" readonly>
                                        <label for="form-username">New Password</label>
                                        <input type="password" id="password-primary" name="password-primary" placeholder="New Password" class="form-username form-control signup-form-password">
                                        <label for="form-username">Confirm Password</label>
                                        <input type="password" id="password-secondary" name="password-secondary" placeholder="Confirm Password" class="form-username form-control">
                                        <input type="hidden" name="token" value=<%- JSON.stringify(locals.reset_token) %>>
                                        <div class="form-group password-rule-list" style="display:none">
                                              <li id="password-lower-letter-condition"><i id="password-lower-letter-condition-icon" class="fa fa-square-o" aria-hidden="true"></i> At least 1 lower case letter</li>
                                              <li id="password-upper-letter-condition"><i id="password-upper-letter-condition-icon" class="fa fa-square-o" aria-hidden="true"></i> At least 1 upper case letter</li>
                                              <li id="password-number-condition"><i id="password-number-condition-icon" class="fa fa-square-o" aria-hidden="true"></i> At least 1 number</li>
                                              <li id="password-length-condition"><i id="password-length-condition-icon" class="fa fa-square-o" aria-hidden="true"></i> At least 8 characters long</li>
                                              <li id="password-special-letter-condition"><i id="password-special-letter-condition-icon" class="fa fa-square-o" aria-hidden="true"></i> No special character</li>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Update Password</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <%- include footer.ejs %>
</body>

</html>
