<!-- style sheets, jQuery libs, bootstraps -->
<link rel="icon" href="../img/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" href="../css/bootstrap.css"> <!-- load bootstrap css -->
<link rel="stylesheet" type="text/css" href="../css/style.css">
<link rel="stylesheet" type="text/css" href="../css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="../css/animate.css">
<link rel="stylesheet" type="text/css" href="../css/test.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../js/socket-client.js"></script>
<!-- Noty -->
<script src="../js/jquery.noty.packaged.js"></script>
<!-- Client utility functions -->
<script src="../js/clientUtilityFunction.js"></script>
<!-- End import -->

<!-- Menu header -->
<ul class="menu-col1">
    <li title="home"><a href="/" class="menu-button home">Menu</a></li>
   <li title="search"><a href="#" class="search">Search</a></li>
    <li title="pencil"><a href="#" class="pencil">Write</a></li>
    <li title="about"><a href="#" class="menu-user-btn">User</a></li>
   <li title="archive"><a href="#" class="archive">Archive</a></li>
<li title="contact"><a href="#" class="contact">Contact</a></li>
    <!--If user is an admin-->
    <% if(locals.user){ %>
        <% if(user.local.role == "admin"){ %>
            <li title="about"><a href="/admin" class="menu-admin-btn">Console</a></li>
        <% } %>
    <% } %>
</ul>

<!-- Menu bar login options avaliable only for non-user -->
<% if(!locals.user) { %>
<ul class="menu-col2 menu-bar-login">
    <li><a href="/auth/facebook" class=""><span class="fa fa-facebook"></span> Facebook</a></li>
    <li><a href="/auth/twitter" class=""><span class="fa fa-twitter"></span> Twitter</a></li>
    <li><a href="/auth/linkedin" class=""><span class="fa fa-linkedin"></span> Linkedin</a></li>
    <!-- <li><a href="/auth/google" class=""><span class="fa fa-google"></span> Google</a></li>
    <li><a href="/auth/weibo" class=""><span class="fa fa-weibo"></span> Weibo</a></li>
    <li><a href="/auth/instagram" class=""><span class="fa fa-instagram"></span> instagram</a></li>
    <li><a href="/auth/amazon" class=""><span class="fa fa-amazon"></span> Amazon</a></li>
    <li><a href="/auth/evernote" class=""><span class="fa fa-evernote"></span> Evernote</a></li>-->
    <li><a href="/login" class=""><span class="fa fa-sign-in"></span> Signin</a></li>
</ul>
<!-- else show profile or logout options -->
<% } else { %>
    <ul class="menu-col2 menu-bar-login">
    <li><a href="/profile" class=""><span class="fa fa-user"></span> Profile</a></li>
    <li><a href="/logout" class=""><span class="fa fa-sign-out"></span> Logout</a></li>
</ul>
<% } %>

<!-- Menu header event handler script-->
<script src="../js/header.js"></script>
