<!DOCTYPE html>
<!-- saved from url=(0119)http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-software-engineering-bachelors-degree/courses -->
<html lang="en" class="js">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title>Penn State Online | Courses - Software Engineering Bachelor of Science</title>
  <link type="text/css" rel="stylesheet" href="http://dvi7vh403uprv.cloudfront.net/cdn/farfuture/NiM74SIlN1Ma_LeoXboCKbHxmzVC8p97V49fGQfZUoQ/mtime:1490266857/sites/default/files/css/cdn_css_9NJtZp65g5RHoZFvwUBtrV672fKYlTIpUy5OoqEIBOs.css" media="all">
  <link type="text/css" rel="stylesheet" href="http://dvi7vh403uprv.cloudfront.net/cdn/farfuture/hGfrplmarsxkDOso9IyqetT-F457yhFj86CsFsT_-9w/mtime:1490799685/sites/default/files/css/cdn_css_RJ7KNT4EqryVpLVv9nNma_qxQ1_uwS7EfAS9IfEE2m8.css" media="all">
  <link type="text/css" rel="stylesheet" href="http://dvi7vh403uprv.cloudfront.net/cdn/farfuture/53iLjtMZnC4AUDR44d6IP-lfkrgJy4GvTgKfMRpyKqY/mtime:1491408382/sites/default/files/css/cdn_css_rtOzivZTBTQ5kI8-6Fi57W3cdmsUi9tQLdsL3_Z5Mqo.css" media="all">
  <link type="text/css" rel="stylesheet" href="http://dvi7vh403uprv.cloudfront.net/cdn/farfuture/sV-9vyZTvZR8y1ssCcfB6_OF-3LQzXj1Znw9gvlVBmU/mtime:1492623862/sites/default/files/css/cdn_css_YvavllL2BB3-VTZtWw9LaXk6JXI7-Pmh44KKH4YFwWk.css" media="all">
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=GFS+Didot|Lora:400italic|Open+Sans:400,400italic,400bold,600" media="all">
  <link rel="stylesheet" href="/css/form3/assets/font-awesome/css/font-awesome.min.css">

  <style>
    .icon-size {
      font-size: 30px;
      margin: 29px 0 0 29px;
      padding: 10px;
      border-radius: 3px;
      background-color: green;
      box-shadow: none;
      box-shadow: 1px 1px 1px #888888;
    }

    .icon-size span {
      font-size: 15px;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .icon-size,
    .icon-size span {
      color: white;
      cursor: default;
    }

    .icon-size:active {
      margin: 30px 0 0 30px;
      box-shadow: none;
    }

    #course-display-container {
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      display: none;
    }

    #course-display-iframe,
    #course-display-div {
      overflow-y: scroll;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
    }

    .course-close-btn {
      z-index: 99999;
      font-size: 5em;
      position: absolute;
      top: 10px;
      right: 20px;
    }
  </style>

  <body class="html not-front not-logged-in one-sidebar sidebar-first page-degrees-and-certificates page-degrees-and-certificates-penn-state-online-software-engineering-bachelors-degree page-degrees-and-certificates-penn-state-online-software-engineering-bachelors-degree-courses with-rfi section-degrees-and-certificates">

    <div class="skip-link">
      <a href="http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-software-engineering-bachelors-degree/courses#content" class="element-invisible element-focusable">Skip to main content</a>
    </div>
    <div class="print-logo"><img src="http://www.worldcampus.psu.edu/sites/all/themes/psu_prospects_responsive/img/header_print.png" alt="Penn State Online"></div>
    <div id="header-wrapper">
      <div id="mobile-utility-wrapper">
        <div id="mobile-utility">
          <div class="top-navigation">
            <nav>
              <div class="region region-top-nav">
                <article id="block-menu-menu-header-prospects-links" class="block-menu-menu-header-prospects-links block block-menu">


                  <ul class="menu">
                    <li class="first leaf menu-coursecatalog"><a href="http://www.worldcampus.psu.edu/course-catalog">Course Catalog</a></li>
                    <li class="leaf menu-contactshelp"><a href="http://www.worldcampus.psu.edu/contacts-help" title="Contacts &amp; Help">Contacts &amp; Help</a></li>
                    <li class="last leaf menu-currentstudents"><a href="http://student.worldcampus.psu.edu/">Current Students</a></li>
                  </ul>
                </article>
                <!-- /.block -->
              </div>
              <!-- /.region -->
            </nav>
            <button id="expand-search-button">Search</button>

          </div>

          <div id="search-block">
            <div id="search">
              <form onsubmit="if(this.search_block_form.value==&#39;Search&#39;){ alert(&#39;Please enter a search&#39;); return false; }" action="http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-software-engineering-bachelors-degree/courses"
                method="post" id="search-block-form" accept-charset="UTF-8">
                <div>
                  <div class="container-inline">
                    <div class="form-item form-type-textfield form-item-search-block-form">
                      <label class="element-invisible" for="edit-search-block-form--2">Search </label>
                      <input title="Enter the terms you wish to search for." onblur="if (this.value == &#39;&#39;) {this.value = &#39;Search&#39;;}" onfocus="if (this.value == &#39;Search&#39;) {this.value = &#39;&#39;;}" placeholder="Search" type="text" id="edit-search-block-form--2"
                        name="search_block_form" value="Search" size="40" maxlength="128" class="form-text">
                    </div>
                    <div class="form-actions form-wrapper" id="edit-actions"><input aria-label="Search" type="submit" id="edit-submit" name="op" value="" class="form-submit"></div><input type="hidden" name="form_build_id" value="form-Cdkm8H3lpGA2f_wniJmE-IZPOaMJVQP9ThelIig7lL0">
                    <input type="hidden" name="form_id" value="search_block_form">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <header class="inner-padding">

        <div id="psu_logo">
          <a title="Home" rel="home" href="http://www.worldcampus.psu.edu/"><img src="http://www.worldcampus.psu.edu/sites/all/themes/psu_prospects_responsive/images/psu-mark.png" alt="Penn State World Campus"></a>
        </div>
        <div class="tagline">A world of possibilities. Online.</div>

        <span class="clearfix"></span>
      </header>
    </div>

    <div class="mobile-cta inner-padding">
      <div class="info-buttons info-for apply-now">
        <a href="http://www.worldcampus.psu.edu/request-information-program?ProgramID=SEBCBS" class="request-info" title="Request Info">Request Info</a> <a href="https://www.admissions.psu.edu/MyPennState/index.cfm/login/index" class="apply-now" title="Apply Now">Apply Now</a>        <a href="tel:+18148655403" class="call-us" title="Call Us">Call Us</a></div>
      <div class="clear"></div>
    </div>

    <div class="menu_wrapper">
      <nav id="main-menu" role="navigation">
        <div class="menu-navigation-container main-navigation">
          <div class="full-site-menu">
            <nav role="navigation">
              <div class="region region-main-nav">
                <article id="block-psu-prospects-blocks-prospects-megamenu" class="block-psu-prospects-blocks-prospects-megamenu block block-psu-prospects-blocks">


                  <ul class="menu">
                    <li class="first plain menu-home"><a href="http://www.worldcampus.psu.edu/" title="">Home</a>
                      <div class="menu-wrapper"></div>
                    </li>
                    <li class="expanded wide menu-aboutus"><a href="http://www.worldcampus.psu.edu/about-us" title="About Us">About Us</a>
                      <div class="menu-wrapper">
                        <div class="menu-description">What’s world class about World Campus? Find out about our history, our faculty, and why more and more students choose World Campus. Read what our students say about us. <a href="http://www.worldcampus.psu.edu/about-us" class="more">More »</a></div>
                        <ul class="menu">
                          <li class="first leaf menu-mission"><a href="http://www.worldcampus.psu.edu/about-us/mission" title="Mission">Mission</a></li>
                          <li class="leaf menu-whyworldcampus"><a href="http://www.worldcampus.psu.edu/about-us/why-penn-state-world-campus" title="Why Penn State World Campus">Why World Campus</a></li>
                          <li class="leaf menu-mediapressroom"><a href="http://www.worldcampus.psu.edu/about-us/mediapress-room" title="Media/Press Room">Media/Press Room</a></li>
                          <li class="leaf menu-studentstories"><a href="http://www.worldcampus.psu.edu/about-us/student-stories" title="Student Stories">Student Stories</a></li>
                          <li class="last leaf menu-videostories"><a href="http://www.worldcampus.psu.edu/about-us/video-stories" title="Video Stories">Video Stories</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="wide expanded active-trail menu-degreesandcertificates"><a href="http://www.worldcampus.psu.edu/degrees-and-certificates">Degrees and Certificates</a>
                      <div class="menu-wrapper">
                        <div class="menu-degrees">
                          <div class="degrees-col-1 degree-menu">
                            <div class="menu-title">Undergraduate</div>
                            <ul class="menu">
                              <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/directory/undergraduate/associate">Associate Degrees</a></li>
                              <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/directory/undergraduate/bachelor">Bachelor's Degrees</a></li>
                              <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/directory/undergraduate/certificates">Certificates</a></li>
                              <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/directory/undergraduate/minors">Minors</a></li>
                            </ul>
                          </div>
                          <div class="degrees-col-2 degree-menu">
                            <div class="menu-title">Graduate</div>
                            <ul class="menu">
                              <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/directory/graduate/master">Master's Degrees</a></li>
                              <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/directory/graduate/doctoral">Doctoral Degrees</a></li>
                              <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/directory/graduate/certificates">Certificates</a></li>
                              <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/directory/graduate/minors">Minors</a></li>
                            </ul>
                          </div>
                          <div class="degrees-col-3 degree-menu">
                            <div class="menu-title">Program Topics</div>
                            <ul class="menu">
                              <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/directory/topic">View All</a></li>
                            </ul>
                          </div>
                          <div class="clear-block"></div>
                        </div>
                      </div>
                    </li>
                    <li class="expanded wide menu-howonlinelearningworks"><a href="http://www.worldcampus.psu.edu/how-online-learning-works" title="How Online Learning Works">How Online Learning Works</a>
                      <div class="menu-wrapper">
                        <div class="menu-description">What’s it like to take classes online? See our video and read through our FAQs. Learn what our Student Services staff can do for you — from your very first conversation to completing your education goals. <a href="http://www.worldcampus.psu.edu/how-online-learning-works"
                            class="more">More »</a></div>
                        <ul class="menu">
                          <li class="first leaf menu-studentservices"><a href="http://www.worldcampus.psu.edu/how-online-learning-works/student-services" title="Student Services">Student Services</a></li>
                          <li class="leaf menu-howitworksfaqs"><a href="http://www.worldcampus.psu.edu/how-online-learning-works/how-it-works-faqs" title="How It Works (FAQs)">How It Works (FAQs)</a></li>
                          <li class="last leaf menu-collegeandcareerprep"><a href="http://www.worldcampus.psu.edu/how-online-learning-works/transitions-college-and-career-prep" title="College and Career Prep">College and Career Prep</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="expanded wide menu-admissions"><a href="http://www.worldcampus.psu.edu/admissions" title="Admissions">Admissions</a>
                      <div class="menu-wrapper">
                        <div class="menu-description">Get details about admissions requirements. Talk to one of our counselors. Then learn how to start a World Campus application. <a href="http://www.worldcampus.psu.edu/admissions" class="more">More »</a></div>
                        <ul class="menu">
                          <li class="first leaf menu-returningstudents"><a href="http://www.worldcampus.psu.edu/admissions/returning-students" title="Returning Students">Returning Students</a></li>
                          <li class="leaf menu-transferstudents"><a href="http://www.worldcampus.psu.edu/admissions/transfer-students" title="Transfer Students">Transfer Students</a></li>
                          <li class="leaf menu-internationalstudents"><a href="http://www.worldcampus.psu.edu/admissions/international-students" title="International Students">International Students</a></li>
                          <li class="leaf menu-academiccalendar"><a href="http://www.worldcampus.psu.edu/admissions/academic-calendar" title="Academic Calendar">Academic Calendar</a></li>
                          <li class="last leaf active-trailing-second-level menu-planningresources"><a href="http://www.worldcampus.psu.edu/admissions/planning-resources" title="Planning Resources">Planning Resources</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="expanded wide menu-tuitionandfinancialaid"><a href="http://www.worldcampus.psu.edu/tuition-and-financial-aid" title="Tuition and Financial Aid">Tuition and Financial Aid</a>
                      <div class="menu-wrapper">
                        <div class="menu-description">Find out what financial aid and scholarships are available to help you finance your World Campus education. Use our tuition estimator to get an idea of what your costs might be. <a href="http://www.worldcampus.psu.edu/tuition-and-financial-aid"
                            class="more">More »</a></div>
                        <ul class="menu">
                          <li class="first leaf menu-financialaid"><a href="http://www.worldcampus.psu.edu/tuition-and-financial-aid/financial-aid" title="Financial Aid">Financial Aid</a></li>
                          <li class="last leaf menu-scholarships"><a href="http://www.worldcampus.psu.edu/tuition-and-financial-aid/scholarships" title="Scholarships">Scholarships</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="last expanded wide menu-military"><a href="http://www.worldcampus.psu.edu/military" title="Military">Military</a>
                      <div class="menu-wrapper">
                        <div class="menu-description">We are committed to serving military members, veterans, and their families. <a href="http://www.worldcampus.psu.edu/military" class="more">More »</a></div>
                        <ul class="menu">
                          <li class="first collapsed menu-payingforyoureducation"><a href="http://www.worldcampus.psu.edu/military-paying-for-your-education" title="Paying for Your Education">Paying for Your Education</a></li>
                          <li class="collapsed menu-grantsandscholarships"><a href="http://www.worldcampus.psu.edu/paying-for-your-education/military-grant-in-aid" title="Grants and Scholarships">Grants and Scholarships</a></li>
                          <li class="collapsed menu-militaryadmissions"><a href="http://www.worldcampus.psu.edu/military-admissions" title="Military Admissions">Military Admissions</a></li>
                          <li class="leaf menu-transfercredits"><a href="http://www.worldcampus.psu.edu/admissions/transferring-credits-military-credit-clep-dsst-testing" title="Transferring Credits, Military Credit, CLEP &amp; DSST Testing">Transfer Credits</a></li>
                          <li class="leaf menu-militaryresources"><a href="http://www.worldcampus.psu.edu/military/military-partnerships" title="Military Resources">Military Resources</a></li>
                          <li class="leaf menu-informationalwebinar"><a href="http://www.worldcampus.psu.edu/military/informational-webinar" title="Informational Webinar">Informational Webinar</a></li>
                          <li class="last leaf menu-contactourmilitarystaff"><a href="http://www.worldcampus.psu.edu/military-information-for-education-center-staff" title="Contact Our Military Staff">Contact Our Military Staff</a></li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </article>
                <!-- /.block -->
                <article id="block-menu-menu-prospects-tablet" class="block-menu-menu-prospects-tablet block block-menu">


                  <ul class="menu">
                    <li class="first leaf menu-home"><a href="http://www.worldcampus.psu.edu/">Home</a></li>
                    <li class="leaf menu-aboutus"><a href="http://www.worldcampus.psu.edu/about-us">About Us</a></li>
                    <li class="leaf menu-admissions"><a href="http://www.worldcampus.psu.edu/admissions">Admissions</a></li>
                    <li class="leaf menu-military"><a href="http://www.worldcampus.psu.edu/military">Military</a></li>
                    <li class="leaf menu-degreesandcertificates"><a href="http://www.worldcampus.psu.edu/degrees-and-certificates">Degrees and Certificates</a></li>
                    <li class="leaf menu-howonlinelearningworks"><a href="http://www.worldcampus.psu.edu/how-online-learning-works">How Online Learning Works</a></li>
                    <li class="last leaf menu-tuitionandfinancialaid"><a href="http://www.worldcampus.psu.edu/tuition-and-financial-aid">Tuition and Financial Aid</a></li>
                  </ul>
                </article>
                <!-- /.block -->
              </div>
              <!-- /.region -->
            </nav>
          </div>
          <div class="mobile-site-menu">
            <a href="http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-software-engineering-bachelors-degree/courses#" id="mobile-main-menu-button">
              <div class="wrap">Menu</div>
            </a>
            <nav class="mobile-main-menu-links" role="navigation">
              <div class="region region-main-nav">
                <article id="block-psu-prospects-blocks-prospects-megamenu" class="block-psu-prospects-blocks-prospects-megamenu block block-psu-prospects-blocks">


                  <ul class="menu">
                    <li class="first plain menu-home"><a href="http://www.worldcampus.psu.edu/" title="">Home</a>
                      <div class="menu-wrapper"></div>
                    </li>
                    <li class="expanded wide menu-aboutus"><a href="http://www.worldcampus.psu.edu/about-us" title="About Us">About Us</a>
                      <div class="menu-wrapper">
                        <div class="menu-description">What’s world class about World Campus? Find out about our history, our faculty, and why more and more students choose World Campus. Read what our students say about us. <a href="http://www.worldcampus.psu.edu/about-us" class="more">More »</a></div>
                        <ul class="menu">
                          <li class="first leaf menu-mission"><a href="http://www.worldcampus.psu.edu/about-us/mission" title="Mission">Mission</a></li>
                          <li class="leaf menu-whyworldcampus"><a href="http://www.worldcampus.psu.edu/about-us/why-penn-state-world-campus" title="Why Penn State World Campus">Why World Campus</a></li>
                          <li class="leaf menu-mediapressroom"><a href="http://www.worldcampus.psu.edu/about-us/mediapress-room" title="Media/Press Room">Media/Press Room</a></li>
                          <li class="leaf menu-studentstories"><a href="http://www.worldcampus.psu.edu/about-us/student-stories" title="Student Stories">Student Stories</a></li>
                          <li class="last leaf menu-videostories"><a href="http://www.worldcampus.psu.edu/about-us/video-stories" title="Video Stories">Video Stories</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="wide expanded active-trail menu-degreesandcertificates"><a href="http://www.worldcampus.psu.edu/degrees-and-certificates">Degrees and Certificates</a>
                      <div class="menu-wrapper">
                        <div class="menu-degrees">
                          <div class="degrees-col-1 degree-menu">
                            <div class="menu-title">Undergraduate</div>
                            <ul class="menu">
                              <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/directory/undergraduate/associate">Associate Degrees</a></li>
                              <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/directory/undergraduate/bachelor">Bachelor's Degrees</a></li>
                              <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/directory/undergraduate/certificates">Certificates</a></li>
                              <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/directory/undergraduate/minors">Minors</a></li>
                            </ul>
                          </div>
                          <div class="degrees-col-2 degree-menu">
                            <div class="menu-title">Graduate</div>
                            <ul class="menu">
                              <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/directory/graduate/master">Master's Degrees</a></li>
                              <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/directory/graduate/doctoral">Doctoral Degrees</a></li>
                              <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/directory/graduate/certificates">Certificates</a></li>
                              <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/directory/graduate/minors">Minors</a></li>
                            </ul>
                          </div>
                          <div class="degrees-col-3 degree-menu">
                            <div class="menu-title">Program Topics</div>
                            <ul class="menu">
                              <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/directory/topic">View All</a></li>
                            </ul>
                          </div>
                          <div class="clear-block"></div>
                        </div>
                      </div>
                    </li>
                    <li class="expanded wide menu-howonlinelearningworks"><a href="http://www.worldcampus.psu.edu/how-online-learning-works" title="How Online Learning Works">How Online Learning Works</a>
                      <div class="menu-wrapper">
                        <div class="menu-description">What’s it like to take classes online? See our video and read through our FAQs. Learn what our Student Services staff can do for you — from your very first conversation to completing your education goals. <a href="http://www.worldcampus.psu.edu/how-online-learning-works"
                            class="more">More »</a></div>
                        <ul class="menu">
                          <li class="first leaf menu-studentservices"><a href="http://www.worldcampus.psu.edu/how-online-learning-works/student-services" title="Student Services">Student Services</a></li>
                          <li class="leaf menu-howitworksfaqs"><a href="http://www.worldcampus.psu.edu/how-online-learning-works/how-it-works-faqs" title="How It Works (FAQs)">How It Works (FAQs)</a></li>
                          <li class="last leaf menu-collegeandcareerprep"><a href="http://www.worldcampus.psu.edu/how-online-learning-works/transitions-college-and-career-prep" title="College and Career Prep">College and Career Prep</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="expanded wide menu-admissions"><a href="http://www.worldcampus.psu.edu/admissions" title="Admissions">Admissions</a>
                      <div class="menu-wrapper">
                        <div class="menu-description">Get details about admissions requirements. Talk to one of our counselors. Then learn how to start a World Campus application. <a href="http://www.worldcampus.psu.edu/admissions" class="more">More »</a></div>
                        <ul class="menu">
                          <li class="first leaf menu-returningstudents"><a href="http://www.worldcampus.psu.edu/admissions/returning-students" title="Returning Students">Returning Students</a></li>
                          <li class="leaf menu-transferstudents"><a href="http://www.worldcampus.psu.edu/admissions/transfer-students" title="Transfer Students">Transfer Students</a></li>
                          <li class="leaf menu-internationalstudents"><a href="http://www.worldcampus.psu.edu/admissions/international-students" title="International Students">International Students</a></li>
                          <li class="leaf menu-academiccalendar"><a href="http://www.worldcampus.psu.edu/admissions/academic-calendar" title="Academic Calendar">Academic Calendar</a></li>
                          <li class="last leaf active-trailing-second-level menu-planningresources"><a href="http://www.worldcampus.psu.edu/admissions/planning-resources" title="Planning Resources">Planning Resources</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="expanded wide menu-tuitionandfinancialaid"><a href="http://www.worldcampus.psu.edu/tuition-and-financial-aid" title="Tuition and Financial Aid">Tuition and Financial Aid</a>
                      <div class="menu-wrapper">
                        <div class="menu-description">Find out what financial aid and scholarships are available to help you finance your World Campus education. Use our tuition estimator to get an idea of what your costs might be. <a href="http://www.worldcampus.psu.edu/tuition-and-financial-aid"
                            class="more">More »</a></div>
                        <ul class="menu">
                          <li class="first leaf menu-financialaid"><a href="http://www.worldcampus.psu.edu/tuition-and-financial-aid/financial-aid" title="Financial Aid">Financial Aid</a></li>
                          <li class="last leaf menu-scholarships"><a href="http://www.worldcampus.psu.edu/tuition-and-financial-aid/scholarships" title="Scholarships">Scholarships</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="last expanded wide menu-military"><a href="http://www.worldcampus.psu.edu/military" title="Military">Military</a>
                      <div class="menu-wrapper">
                        <div class="menu-description">We are committed to serving military members, veterans, and their families. <a href="http://www.worldcampus.psu.edu/military" class="more">More »</a></div>
                        <ul class="menu">
                          <li class="first collapsed menu-payingforyoureducation"><a href="http://www.worldcampus.psu.edu/military-paying-for-your-education" title="Paying for Your Education">Paying for Your Education</a></li>
                          <li class="collapsed menu-grantsandscholarships"><a href="http://www.worldcampus.psu.edu/paying-for-your-education/military-grant-in-aid" title="Grants and Scholarships">Grants and Scholarships</a></li>
                          <li class="collapsed menu-militaryadmissions"><a href="http://www.worldcampus.psu.edu/military-admissions" title="Military Admissions">Military Admissions</a></li>
                          <li class="leaf menu-transfercredits"><a href="http://www.worldcampus.psu.edu/admissions/transferring-credits-military-credit-clep-dsst-testing" title="Transferring Credits, Military Credit, CLEP &amp; DSST Testing">Transfer Credits</a></li>
                          <li class="leaf menu-militaryresources"><a href="http://www.worldcampus.psu.edu/military/military-partnerships" title="Military Resources">Military Resources</a></li>
                          <li class="leaf menu-informationalwebinar"><a href="http://www.worldcampus.psu.edu/military/informational-webinar" title="Informational Webinar">Informational Webinar</a></li>
                          <li class="last leaf menu-contactourmilitarystaff"><a href="http://www.worldcampus.psu.edu/military-information-for-education-center-staff" title="Contact Our Military Staff">Contact Our Military Staff</a></li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </article>
                <!-- /.block -->
                <article id="block-menu-menu-prospects-tablet" class="block-menu-menu-prospects-tablet block block-menu">


                  <ul class="menu">
                    <li class="first leaf menu-home"><a href="http://www.worldcampus.psu.edu/">Home</a></li>
                    <li class="leaf menu-aboutus"><a href="http://www.worldcampus.psu.edu/about-us">About Us</a></li>
                    <li class="leaf menu-admissions"><a href="http://www.worldcampus.psu.edu/admissions">Admissions</a></li>
                    <li class="leaf menu-military"><a href="http://www.worldcampus.psu.edu/military">Military</a></li>
                    <li class="leaf menu-degreesandcertificates"><a href="http://www.worldcampus.psu.edu/degrees-and-certificates">Degrees and Certificates</a></li>
                    <li class="leaf menu-howonlinelearningworks"><a href="http://www.worldcampus.psu.edu/how-online-learning-works">How Online Learning Works</a></li>
                    <li class="last leaf menu-tuitionandfinancialaid"><a href="http://www.worldcampus.psu.edu/tuition-and-financial-aid">Tuition and Financial Aid</a></li>
                  </ul>
                </article>
                <!-- /.block -->
              </div>
              <!-- /.region -->
            </nav>
          </div>
          <div class="mobile-section-menu" style="display:none;">
            <a id="mobile-secondary-menu-button">
              <div class="wrap">This Section</div>
            </a>
            <div class="mobile-secondary-menu-links">
              <ul class="links program-menu">
                <li class="0 first"><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-software-engineering-bachelors-degree/overview" class="">Overview</a></li>
                <li class="1 active"><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-software-engineering-bachelors-degree/courses" class="active active">Courses</a></li>
                <li class="2"><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-software-engineering-bachelors-degree/costs" class="">Costs</a></li>
                <li class="3"><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-software-engineering-bachelors-degree/faculty" class="">Faculty</a></li>
                <li class="4"><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-software-engineering-bachelors-degree/apply" class="">How to Apply</a></li>
                <li class="5 last"><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-software-engineering-bachelors-degree/contact" class="">Contact the Program</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </nav>
      <!-- end main-menu -->
    </div>

    <div class="page-wrapper">
      <div id="container" class="page">

        <div id="content-header" class="inner-padding">
          <h1 class="title" id="page-title">Courses - Bachelor of Science in Software Engineering</h1>

          <div id="desktop-breadcrumbs">
            <nav class="breadcrumb"><a href="http://www.worldcampus.psu.edu/">Home</a> » <a href="http://www.worldcampus.psu.edu/degrees-and-certificates">Degrees and Certificates</a> » <a href="http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-software-engineering-bachelors-degree/overview">Bachelor of Science in Software Engineering</a>              » Courses</nav>
          </div>
          <div class="desktop-cta">
            <div class="info-buttons info-for apply-now">
              <a href="http://www.worldcampus.psu.edu/request-information-program?ProgramID=SEBCBS" class="request-info" title="Request Info">Request Info</a> <a href="https://www.admissions.psu.edu/MyPennState/index.cfm/login/index" class="apply-now"
                title="Apply Now">Apply Now</a> <a href="tel:+18148655403" class="call-us" title="Call Us">Call Us</a></div>
          </div>
        </div>

        <div class="content-sidebar-wrap">
          <div id="content" class="inner-padding">
            <div class="region region-content">
              <article id="block-system-main" class="block-system-main block block-system">



                <div class="node node-program program-courses">

                  <div class="body">
                    <div class="field field-name-field-prgm-courses-body field-type-text-long field-label-hidden">
                      <div class="field-items">
                        <div class="field-item even">
                          <p>The Bachelor of Science in Software Engineering program requires you to complete a minimum of 126 credits including a capstone course. The curriculum addresses a variety of software engineering topics for comprehensive coverage
                            of modern software and techniques including:</p>
                          <ul>
                            <li>discrete mathematics</li>
                            <li>probability and statistics</li>
                            <li>computer programming</li>
                            <li>object-oriented methodology</li>
                            <li>software design</li>
                            <li>software validation and verification</li>
                            <li>software security</li>
                            <li>computer networks</li>
                          </ul>
                          <p>As part of SWENG 480/481, taken during your senior year, you'll be required to complete a capstone project which includes collaborating with fellow students to design, plan, manage, and implement a software system and provide
                            you with experience working with real industries.</p>
                          <h2>Collaborative Learning</h2>
                          <p>The online courses are highly interactive and collaborative, allowing you to build strong ties with others and gain perspectives from other disciplines and industries. Maximum flexibility is maintained by the program in an effort
                            to meet both the professional needs of individual students and academic quality standards.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="node node-program program-courses course-schedule-block">
                  <span class="course-schedule-text">See course start and end periods, registration deadlines, and semesters offered.</span>
                  <span class="course-schedule-link"><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-software-engineering-bachelors-degree/course-schedule">Course Schedule</a></span>
                </div>


                <div class="node node-program program-courses">
                  <h2 class="program-title">Course List - Bachelor of Science in Software Engineering</h2>

                  <div class="schedule">
                    <div class="field field-name-field-prgm-courses-list field-type-text-long field-label-hidden">
                      <div class="field-items">
                        <div class="field-item even">
                          <table class="footable tablet footable-loaded" summary="course descriptions">
                            <caption>Prescribed Courses&nbsp;(86 credits)</caption>
                            <thead>
                              <tr>
                                <th class="name footable-visible footable-first-column" data-class="expand" scope="col">Title</th>
                                <th class="abbreviation footable-visible" data-hide="phone" scope="col">Abbreviation</th>
                                <th class="description footable-visible" data-hide="phone" scope="col">Description</th>
                                <th class="credits footable-visible footable-last-column" data-hide="phone" scope="col">Credits</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Chemical Principles I <br><i data-source="world-campus" data-href="course/CHEM-110" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">CHEM 110</td>
                                <td class="footable-visible">Basic concepts and quantitative relations.&nbsp;</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Experimental Chemistry I</td>
                                <td class="footable-visible">CHEM 111</td>
                                <td class="footable-visible">Introduction to quantitative experimentation in chemistry.<br><br> Prerequisite or concurrent: CHEM 110 or CHEM 106</td>
                                <td class="footable-visible footable-last-column">1 credit</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Digital Design: Theory and Practice <br><i data-source="lionpath" data-href="course/CMPEN-270" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">CMPEN 270</td>
                                <td class="footable-visible">Introduction to digital systems and their design.&nbsp;<br><br> Concurrent: PHYS 212</td>
                                <td class="footable-visible footable-last-column">4 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Microprocessors <br><i data-source="lionpath" data-href="course/CMPEN-351" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">CMPEN 351</td>
                                <td class="footable-visible">Microprocessor architecture; memory system design; assembly language programming; interrupts; the stacks and subroutines; memory and I/O inter-facing; serial I/O and data communications; microprocessors applications.<br><br>                                  Prerequisites: CMPEN 270 or CMPEN 271 and CMPEN 275</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Operating Systems <br><i data-source="lionpath" data-href="course/CMPEN-441" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">CMPEN 441</td>
                                <td class="footable-visible">Resource management in computer systems.<br><br> Prerequisite: CMPSC 360</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Communication Networks <br><i data-source="lionpath" data-href="course/CMPEN-461" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">CMPEN 461</td>
                                <td class="footable-visible">Data transmission, encoding, link control techniques, network architecture, design, protocols, and multiple access.<br><br> Prerequisites: CMPEN 270 or CMPEN 271; CMPSC 121 or CMPSC 201</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Introduction to Programming Techniques  <br><i data-source="lionpath" data-href="course/CMPSC-121" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">CMPSC&nbsp; 121</td>
                                <td class="footable-visible">Design and implementation of algorithms. Structured programming. Problem solving techniques. Introduction to a high-level language, including arrays, procedures, and recursion.<br><br> Prerequisite: MATH 110 or prerequisite
                                  or concurrent MATH 140</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Intermediate Programming <br><i data-source="lionpath" data-href="course/CMPSC-122" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">CMPSC 122</td>
                                <td class="footable-visible">Object-oriented programming, recursion, fundamental data structures (including stacks, queues, linked lists, hash tables, trees, and graphs), the basics of algorithmic analysis, and an introduction to the principles of
                                  language translation.<br><br> Prerequisite: CMPSC 121</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Discrete Mathematics for Computer Science <br><i data-source="lionpath" data-href="course/CMPSC-360" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">CMPSC 360</td>
                                <td class="footable-visible">Discrete mathematics and foundations for modern computer science.<br><br> Concurrent: CMPSC 122</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Database Management Systems <br><i data-source="lionpath" data-href="course/CMPSC-431" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">CMPSC&nbsp; 431</td>
                                <td class="footable-visible">Topics include: conceptual data modeling, relational data model, relational query languages, schema normalization, database/Internet applications, and database system issues.<br><br> Prerequisite: CMPSC 221 or SWENG 311;
                                  ENGL 202C</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Programming Language Concepts <br><i data-source="lionpath" data-href="course/CMPSC-461" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">CMPSC 461</td>
                                <td class="footable-visible">Fundamental concepts of programming language design, specifications, and implementation; programming language paradigms and features; program verification.<br><br> Prerequisites: CMPSC 221 or SWENG 311; CMPSC 360</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Data Structures and Algorithms <br><i data-source="lionpath" data-href="course/CMPSC-465" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">CMPSC 465</td>
                                <td class="footable-visible">Fundamental concepts of computer science: data structures, analysis of algorithms, recursion, trees, sets, graphs, sorting.<br><br> Prerequisites: CMPSC 122; CMPSC 360 or MATH 311W</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Effective Writing: Technical Writing <br><i data-source="world-campus" data-href="course/ENGL-202C" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">ENGL 202C</td>
                                <td class="footable-visible">Writing for students in scientific and technical disciplines.<br><br> Prerequisite: ENGL 015 or ENGL 030; fourth-semester standing</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Calculus with Analytic Geometry I <br><i data-source="world-campus" data-href="course/MATH-140" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">MATH 140</td>
                                <td class="footable-visible">Functions, limits; analytic geometry; derivatives, differentials, applications; integrals, applications.<br><br> Prerequisites: MATH 22 and MATH 26 or MATH 26 and satisfactory performance on the mathematics placement examination
                                  or MATH 40 or MATH 41 or satisfactory performance on the mathematics placement examination.</td>
                                <td class="footable-visible footable-last-column">4 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Calculus with Analytic Geometry II <br><i data-source="world-campus" data-href="course/MATH-141" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">MATH 141</td>
                                <td class="footable-visible">Derivatives, integrals, applications; sequences and series; analytic geometry; polar coordinates.<br><br> Prerequisite: MATH 140 or MATH 140A or MATH 140B or MATH 140E or MATH 140G or MATH 140H</td>
                                <td class="footable-visible footable-last-column">4 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Matrices <br><i data-source="world-campus" data-href="course/MATH-220" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">MATH 220</td>
                                <td class="footable-visible">Systems of linear equations; matrix algebra; eigenvalues and eigenvectors; linear systems of differential equations.<br><br> Prerequisites: MATH 110, MATH 140, or MATH 140H</td>
                                <td class="footable-visible footable-last-column">2 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Ordinary Differential Equations <br><i data-source="lionpath" data-href="course/MATH-250" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">MATH 250</td>
                                <td class="footable-visible">First- and second-order equations; special functions; Laplace transform solutions; higher order equations.<br><br> Prerequisite: MATH 141</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Basic Management Concepts <br><i data-source="world-campus" data-href="course/MGMT-301" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">MGMT 301</td>
                                <td class="footable-visible">Study of fundamental principles and processes available to the understanding of management.<br><br> Prerequisites: ENGL 015 or ENGL 030; ECON 102 or ECON 104; MATH 021</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>General Physics: Mechanics <br><i data-source="lionpath" data-href="course/PHYS-211" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">PHYS 211</td>
                                <td class="footable-visible">Calculus-based study of the basic concepts of mechanics: motion, force, Newton's laws, energy, collisions, and rotation.<br><br> Concurrent: MATH 140</td>
                                <td class="footable-visible footable-last-column">4 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>General Physics: Electricity and Magnetism <br><i data-source="lionpath" data-href="course/PHYS-212" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">PHYS 212</td>
                                <td class="footable-visible">Calculus-based study of the basic concepts of electricity and magnetism.<br><br> Prerequisites: MATH 140, PHYS 211; Concurrent: MATH 141</td>
                                <td class="footable-visible footable-last-column">4 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Statistical Analysis I <br><i data-source="lionpath" data-href="course/STAT-301" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">STAT 301</td>
                                <td class="footable-visible">Probability concepts; nature of statistical methods; elementary distribution and sampling theory; fundamental ideas relative to estimation and testing hypotheses.<br><br> Prerequisite: 3 credits of calculus</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Object-Oriented Software Design and Construction <br><i data-source="lionpath" data-href="course/SWENG-311" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">SWENG 311</td>
                                <td class="footable-visible">Design, documentation, testing, and construction of software using software engineering strategies embodied in object-oriented programming languages.<br><br> Prerequisite: CMPSC 122</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Software Engineering <br><i data-source="lionpath" data-href="course/SWENG-411" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">SWENG 411</td>
                                <td class="footable-visible">Software engineering principles including lifecycle, dependability, process modeling, project management, requires specification, design analysis, implementation, testing, and maintenance.<br><br> Prerequisite: CMPSC 122;
                                  Concurrent: SWENG 311</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Software Architecture <br><i data-source="lionpath" data-href="course/SWENG-421" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">SWENG 421</td>
                                <td class="footable-visible">The analysis and design of software systems using canonical design patterns.<br><br> Prerequisite: SWENG 411</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Software Verification, Validation, and Testing <br><i data-source="lionpath" data-href="course/SWENG-431" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">SWENG 431</td>
                                <td class="footable-visible">Introduction to methods of software verification, validation, and testing; mathematical foundations of testing, reliability models; statistical testing.<br><br> Prerequisites: SWENG 411; STAT 301</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Embedded Real Time Systems <br><i data-source="lionpath" data-href="course/SWENG-452" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">SWENG 452</td>
                                <td class="footable-visible">The design and implementation of real time systems.<br><br> Prerequisites: CMPSC 472 or CMPSC 473 or CMPEN 441</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Software Engineering Design <br><i data-source="lionpath" data-href="course/SWENG-480" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">SWENG 480</td>
                                <td class="footable-visible">Concepts of engineering ethics, economy, and project management, senior capstone project selection, and technical communication skills.<br><br> Prerequisite: SWENG 431</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Software Engineering Project <br><i data-source="lionpath" data-href="course/SWENG-481" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">SWENG 481</td>
                                <td class="footable-visible">Capstone group design projects in software engineering.<br><br> Prerequisite: SWENG 480</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                            </tbody>
                          </table>
                          <table class="footable tablet footable-loaded" summary="course descriptions">
                            <caption>Additional Courses&nbsp;(6 credits)</caption>
                            <thead>
                              <tr>
                                <th class="name footable-visible footable-first-column" data-class="expand" scope="col">Title</th>
                                <th class="abbreviation footable-visible" data-hide="phone" scope="col">Abbreviation</th>
                                <th class="description footable-visible" data-hide="phone" scope="col">Description</th>
                                <th class="credits footable-visible footable-last-column" data-hide="phone" scope="col">Credits</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>
                                  <p>Introductory Microeconomic Analysis and Policy <br><i data-source="world-campus" data-href="course/ECON-102" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i><br><em>or</em><br> Introductory Macroeconomic Analysis and Policy <br><i data-source="world-campus" data-href="course/ECON-104" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></p>
                                </td>
                                <td class="footable-visible">ECON 102<br><br><em>or</em><br><br> ECON 104</td>
                                <td class="footable-visible">Methods of economic analysis and their use; price determination; theory of the firm; distribution.<br><em>or</em><br> National income measurement; aggregate economic models; money and income; policy problems.</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Electrical Circuits and Power Distribution <br><i data-source="world-campus" data-href="course/EE-211" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">EE 211</td>
                                <td class="footable-visible">D.C. and A.C. circuits, transformers, single and three-phase distribution systems, A.C. motors and generators.<br><br> Prerequisite: PHYS 212; Concurrent: MATH 250</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                            </tbody>
                          </table>
                          <table class="footable tablet footable-loaded" summary="course descriptions">
                            <caption>Supporting Courses and Related Areas (9 credits)</caption>
                            <thead>
                              <tr>
                                <th class="name footable-visible footable-first-column" data-class="expand" scope="col">Title</th>
                                <th class="abbreviation footable-visible" data-hide="phone" scope="col">Abbreviation</th>
                                <th class="description footable-visible" data-hide="phone" scope="col">Description</th>
                                <th class="credits footable-visible footable-last-column" data-hide="phone" scope="col">Credits</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Net-centric Computing <br><i data-source="lionpath" data-href="course/CMPSC-421" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">CMPSC 421</td>
                                <td class="footable-visible">This course introduces JavaScript and AJAX for creating Rich Internet Applications, and XML for client-server communication and Web Services.<br><br> Prerequisite: CMPSC 221 or SWENG 311</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Web Services <br><i data-source="lionpath" data-href="course/SWENG-465" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">SWENG 465</td>
                                <td class="footable-visible">This course introduces the students to a contemporary computing paradigm called "service-oriented computing."<br><br> Prerequisite: SWENG 311 or CMPSC 221</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Special Topics <br><i data-source="lionpath" data-href="course/SWENG-497" class="fa fa-search-plus icon-size" aria-hidden="true"><span> Look Detail</span></i></td>
                                <td class="footable-visible">SWENG 497</td>
                                <td class="footable-visible">Formal courses given infrequently to explore, in depth, a comparatively narrow subject that may be topical or of special interest.</td>
                                <td class="footable-visible footable-last-column">3 credits</td>
                              </tr>
                            </tbody>
                          </table>
                          <table class="footable tablet footable-loaded" summary="course descriptions">
                            <caption>Electives (1 credit)</caption>
                            <thead>
                              <tr>
                                <th data-class="expand" scope="col" class="footable-visible footable-first-column">Description</th>
                                <th data-hide="phone" scope="col" class="footable-visible footable-last-column">Credits</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="expand footable-visible footable-first-column"><span class="footable-toggle"></span>Chosen in consultation with an adviser.</td>
                                <td class="footable-visible footable-last-column">1 credit</td>
                              </tr>
                            </tbody>
                          </table><br>
                          <table class="footable footable-loaded" summary="course descriptions">
                            <caption>General Education (45 credits*)</caption>
                            <thead>
                              <tr>
                                <th class="description" data-class="expand" scope="col">Description</th>
                                <th class="credits" scope="col">Credits</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="expand"><span class="footable-toggle"></span>Arts – GA</td>
                                <td>6 credits</td>
                              </tr>
                              <tr>
                                <td class="expand"><span class="footable-toggle"></span>Humanities – GH</td>
                                <td>6 credits</td>
                              </tr>
                              <tr>
                                <td class="expand"><span class="footable-toggle"></span>Health and Physical Activity – GHA</td>
                                <td>3 credits</td>
                              </tr>
                              <tr>
                                <td class="expand"><span class="footable-toggle"></span>Natural Sciences – GN</td>
                                <td>9 credits</td>
                              </tr>
                              <tr>
                                <td class="expand"><span class="footable-toggle"></span>Social and Behavioral Sciences – GS</td>
                                <td>6 credits</td>
                              </tr>
                              <tr>
                                <td class="expand"><span class="footable-toggle"></span>Writing and Speaking – GWS</td>
                                <td>9 credits</td>
                              </tr>
                              <tr>
                                <td class="expand"><span class="footable-toggle"></span>Quantification – GQ</td>
                                <td>6 credits</td>
                              </tr>
                            </tbody>
                          </table>
                          <p>*21 of the 45 credits are included in the Requirements for the Major</p>
                          <p>&nbsp;</p>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </article>
              <!-- /.block -->
            </div>
            <!-- /.region -->
            <div style="clear:both;"></div>
          </div>
          <aside id="sidebar-first" role="complementary">
            <div class="sidebar column-first">
              <div class="region region-sidebar-first">
                <nav role="navigation" id="block-psu-program-program-menu" class="block-psu-program-program-menu block block-psu-program psu-sidemenu">


                  <ul class="links program-menu">
                    <li class="0 first"><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-software-engineering-bachelors-degree/overview" class="">Overview</a></li>
                    <li class="1 active"><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-software-engineering-bachelors-degree/courses" class="active active">Courses</a></li>
                    <li class="2"><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-software-engineering-bachelors-degree/costs" class="">Costs</a></li>
                    <li class="3"><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-software-engineering-bachelors-degree/faculty" class="">Faculty</a></li>
                    <li class="4"><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-software-engineering-bachelors-degree/apply" class="">How to Apply</a></li>
                    <li class="5 last"><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-software-engineering-bachelors-degree/contact" class="">Contact the Program</a></li>
                  </ul>
                </nav>
                <!-- /.block -->
              </div>
              <!-- /.region -->
              <div id="second-sidebar-tablet"></div>
            </div>
          </aside>
        </div>

        <div style="clear:both;"></div>

        <nav id="mobile-menu-repeat" role="navigation" style="display: none;">
          <div id="mobile-menu-repeat-heading"></div>
          <div id="mobile-menu-repeat-links">
            <ul class="links program-menu">
              <li class="0 first"><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-software-engineering-bachelors-degree/overview" class="">Overview</a></li>
              <li class="1 active"><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-software-engineering-bachelors-degree/courses" class="active active">Courses</a></li>
              <li class="2"><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-software-engineering-bachelors-degree/costs" class="">Costs</a></li>
              <li class="3"><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-software-engineering-bachelors-degree/faculty" class="">Faculty</a></li>
              <li class="4"><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-software-engineering-bachelors-degree/apply" class="">How to Apply</a></li>
              <li class="5 last"><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-software-engineering-bachelors-degree/contact" class="">Contact the Program</a></li>
            </ul>
          </div>
        </nav>

        <div id="mobile-breadcrumbs">
          <nav class="breadcrumb"><a href="http://www.worldcampus.psu.edu/">Home</a> » <a href="http://www.worldcampus.psu.edu/degrees-and-certificates">Degrees and Certificates</a> » <a href="http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-software-engineering-bachelors-degree/overview">Bachelor of Science in Software Engineering</a>            » Courses</nav>
        </div>
      </div>

      <div id="footer">
        <div id="super-footer-wrapper" class="clearfix">
          <div id="super-footer" class="inner-padding">
            <div class="col col1">
              <div class="region region-footer-region-1">
                <article id="block-psu-footer-footer-region-1" class="block-psu-footer-footer-region-1 block block-psu-footer">


                  <div class="welcome-content">
                    <h3><a href="http://www.worldcampus.psu.edu/contacts-help">Contact Us</a> &gt;</h3>
                    <ul>
                      <li>U.S. Toll Free: 800-252-3592</li>
                      <li>Local/International: 814-865-5403</li>
                      <li>Fax: 814-865-3290</li>
                      <li><a href="mailto:pennstateonline@psu.edu">pennstateonline@psu.edu</a></li>
                      <li><br> The Pennsylvania State University<br> 128 Outreach Building<br> University Park, PA 16802</li>
                    </ul>
                  </div>
                </article>
                <!-- /.block -->
              </div>
              <!-- /.region -->
              <h3>Find us on</h3>
              <ul>
                <li>
                  <a href="http://blog.worldcampus.psu.edu/"><img class="social-icon-image" src="http://www.worldcampus.psu.edu/sites/all/themes/psu_prospects_responsive/images/social-icon-blog.svg" alt="Blog"></a>
                  <a href="https://www.facebook.com/psuworldcampus"><img class="social-icon-image" src="http://www.worldcampus.psu.edu/sites/all/themes/psu_prospects_responsive/images/social-icon-facebook.svg" alt="Facebook"></a>
                  <a href="https://twitter.com/PSUWorldcampus"><img class="social-icon-image" src="http://www.worldcampus.psu.edu/sites/all/themes/psu_prospects_responsive/images/social-icon-twitter.svg" alt="Twitter"></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/penn-state-world-campus"><img class="social-icon-image" src="http://www.worldcampus.psu.edu/sites/all/themes/psu_prospects_responsive/images/social-icon-linkedin.svg" alt="LinkedIn"></a>
                  <a href="https://www.youtube.com/user/PSUWorldCampus"><img class="social-icon-image" src="http://www.worldcampus.psu.edu/sites/all/themes/psu_prospects_responsive/images/social-icon-youtube.svg" alt="Youtube"></a>
                  <a href="https://plus.google.com/+PennStateOnline"><img class="social-icon-image" src="http://www.worldcampus.psu.edu/sites/all/themes/psu_prospects_responsive/images/social-icon-googleplus.svg" alt="Google+"></a>
                </li>
                <li>
                  <a href="https://www.pinterest.com/PSUWorldCampus/"><img class="social-icon-image" src="http://www.worldcampus.psu.edu/sites/all/themes/psu_prospects_responsive/images/social-icon-pinterest.svg" alt="Pinterest"></a>
                  <a href="https://www.instagram.com/pennstateworldcampus/"><img class="social-icon-image" src="http://www.worldcampus.psu.edu/sites/all/themes/psu_prospects_responsive/images/social-icon-instagram.svg" alt="Instagram"></a>
                </li>
              </ul>
            </div>
            <div class="col col2">
              <div class="region region-footer-region-2">
                <article id="block-psu-footer-footer-region-2" class="block-psu-footer-footer-region-2 block block-psu-footer">


                  <div class="welcome-content">
                    <div class="mobile-hide">
                      <h3><a href="http://www.worldcampus.psu.edu/about-us">About Us</a> &gt;</h3>
                      <ul>
                        <li><a href="http://www.worldcampus.psu.edu/about-us/why-penn-state-world-campus">Why World Campus</a></li>
                        <li><a href="http://www.worldcampus.psu.edu/about-us/mediapress-room">Media/Press Room</a></li>
                        <li><a href="http://www.worldcampus.psu.edu/about-us/student-stories">Student Stories</a></li>
                        <li><a href="http://www.worldcampus.psu.edu/about-us/video-stories">Video Stories</a></li>
                      </ul>
                    </div>
                    <h3><a href="http://www.worldcampus.psu.edu/degrees-and-certificates">Degrees and Certificates</a> &gt;</h3>
                    <ul>
                      <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/directory/undergraduate">Undergraduate</a></li>
                      <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/directory/graduate">Graduate</a></li>
                      <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/directory/topic">By Topic</a></li>
                    </ul>
                    <div class="mobile-hide">
                      <h3><a href="http://www.worldcampus.psu.edu/how-online-learning-works">How Online Learning Works</a> &gt;</h3>
                      <ul>
                        <li><a href="http://www.worldcampus.psu.edu/how-online-learning-works/student-services">Student Services</a></li>
                        <li><a href="http://www.worldcampus.psu.edu/how-online-learning-works/how-it-works-faqs">How it Works (FAQs)</a></li>
                        <li><a href="http://www.worldcampus.psu.edu/how-online-learning-works/transitions-college-and-career-prep">College and Career Prep</a></li>
                      </ul>
                      <div class="mobile-hide">
                        <h3><a href="http://www.worldcampus.psu.edu/admissions">Admissions</a> &gt;</h3>
                        <ul>
                          <li><a href="http://www.worldcampus.psu.edu/admissions/returning-students">Returning Students</a></li>
                          <li><a href="http://www.worldcampus.psu.edu/admissions/transfer-students">Transfer Students</a></li>
                          <li><a href="http://www.worldcampus.psu.edu/admissions/international-students">International Students</a></li>
                          <li><a href="http://www.worldcampus.psu.edu/undeclared-undergraduate-students">Undeclared Students</a></li>
                          <li><a href="http://www.worldcampus.psu.edu/admissions/academic-calendar">Academic Calendar</a></li>
                          <li><a href="http://www.worldcampus.psu.edu/admissions/planning-resources">Planning Resources</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </article>
                <!-- /.block -->
              </div>
              <!-- /.region -->
            </div>
            <div class="col col3">
              <div class="region region-footer-region-3">
                <article id="block-psu-footer-footer-region-3" class="block-psu-footer-footer-region-3 block block-psu-footer">


                  <div class="welcome-content">
                    <div class="mobile-hide">
                      <h3><a href="http://www.worldcampus.psu.edu/tuition-and-financial-aid">Tuition and Financial Aid</a> &gt;</h3>
                      <ul>
                        <li><a href="http://www.worldcampus.psu.edu/tuition-and-financial-aid/financial-aid">Financial Aid</a></li>
                        <li><a href="http://www.worldcampus.psu.edu/tuition-and-financial-aid/scholarships">Scholarships</a></li>
                      </ul>
                    </div>
                    <div class="mobile-hide">
                      <h3><a href="http://www.worldcampus.psu.edu/military">Military</a>&nbsp;&gt;</h3>
                      <ul>
                        <li><a href="http://www.worldcampus.psu.edu/military-paying-for-your-education">Paying for Your Education</a></li>
                        <li><a href="http://www.worldcampus.psu.edu/paying-for-your-education/military-grant-in-aid">Grants and Scholarships</a></li>
                        <li><a href="http://www.worldcampus.psu.edu/military-admissions">Military Admissions</a></li>
                        <li><a href="http://www.worldcampus.psu.edu/admissions/transferring-credits-military-credit-clep-dsst-testing">Transfer Credits</a></li>
                        <li><a href="http://www.worldcampus.psu.edu/military/military-partnerships">Military Resources</a></li>
                        <li><a href="http://www.worldcampus.psu.edu/military/informational-webinar">Informational Webinar</a></li>
                        <li><a href="http://www.worldcampus.psu.edu/military-information-for-education-center-staff">Contact Our Military Staff</a></li>
                      </ul>
                    </div>
                    <h3>Information For</h3>
                    <ul>
                      <li><a href="http://student.worldcampus.psu.edu/">Current Students</a></li>
                      <li><a href="http://www.worldcampus.psu.edu/alumni">Alumni and Friends</a></li>
                      <li><a href="http://www.worldcampus.psu.edu/corporate-partners">Corporate Partners</a></li>
                      <li><a href="http://www.worldcampus.psu.edu/faculty-and-staff-resources">Faculty and Staff</a></li>
                    </ul>
                    <h3><a href="http://www.worldcampus.psu.edu/calendar">Calendar</a> &gt;</h3>
                    <br>
                    <h3><a href="http://www.worldcampus.psu.edu/course-catalog">Course Catalog</a> &gt;</h3>
                  </div>
                </article>
                <!-- /.block -->
              </div>
              <!-- /.region -->
            </div>
            <span class="clearfix"></span>
          </div>
        </div>
        <div class="big" id="mobile-footer-nav">
          <ul>
            <li><a href="http://www.worldcampus.psu.edu/">Home</a></li>
            <li><a href="javascript:scroll(0,0);">Back to Top</a></li>
          </ul>
          <span class="clearfix"></span>
        </div>
        <div id="legal-footer-wrapper">
          <a href="http://www.psu.edu/">The Pennsylvania State University</a><br class="mobile-break">
          <span class="mobile-hide">·</span> <a href="http://www.psu.edu/copyright-information">Copyright 2017</a> <br class="mobile-break">
          <span class="mobile-hide">·</span> <a href="http://www.worldcampus.psu.edu/privacy-policy">Privacy</a> · <a href="http://www.worldcampus.psu.edu/website-feedback">Website Feedback</a> · <a href="http://www.outreach.psu.edu/accessibility">Accessibility</a>          <br class="mobile-break">
          <span class="mobile-hide">·</span> <a href="http://www.worldcampus.psu.edu/students-with-disabilities">Students with Disabilities</a> · <a href="http://www.worldcampus.psu.edu/state-authorization">State Authorization</a>
          <a id="mobile-shield" href="http://www.worldcampus.psu.edu/"><img src="http://www.worldcampus.psu.edu/sites/all/themes/psu_prospects_responsive/images/psu-mark.png" alt="Penn State World Campus"></a>
        </div>
      </div>
    </div>
    <div id="course-display-container">
      <i data-function="close-course-info" class="fa fa-times-circle-o course-close-btn" aria-hidden="true"></i>
      <iframe id="course-display-iframe"></iframe>
      <div id="course-display-div"></div>
    </div>
    <script>
      $('i').click(function() {
        if ($(this).data("function") === "close-course-info") {
          console.log(1);
          $('#course-display-container').fadeOut('fast');
        } else {
          if ($(this).data("source") === "lionpath") {
            $('#course-display-div').css('display', 'none');
            $('#course-display-iframe').attr('src', $(this).data("href")).fadeIn('fast');
          }

          if ($(this).data("source") === "world-campus") {
            $('#course-display-iframe').css('display', 'none');
            $('#course-display-div').load($(this).data("href") + ' #container').fadeIn('fast');
          }

          $('#course-display-container').fadeIn('fast');
        }
      });
    </script>
  </body>

</html>
