<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Academic Advisor</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <script src="js/index.js"></script>
    <link href="css/index.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>
    <div class="container-fluid">
        <div class="full-body">
            <!-- SIDE BAR -->
            <div class="col-sm-12 col-md-3 side-bar">
                <div class="row title">
                    <img src="images/penn-logo.png" alt="penn state logo">
                </div>
                <div class="side-nav">
                    <hr>
                    <a href="chat.html" class="side-options">Chat</a>
                    <hr>
                    <a href="profile.html" class="side-options">Profile</a>
                    <hr>
                    <a href="inbox.html" class="side-options">Inbox</a>
                    <hr>
                    <a href="" class="side-options">Logout</a>
                    <hr>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 current-chat">
                <h2 class="lite-header"> Inbox </h2>
                <hr>
            </div>
        </div>
    </div>
</body>