<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Academic Advisor</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <script src="js/index.js"></script>
    <link href="css/index.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>
    <div class="container-fluid">
        <div class="full-body">
            <!-- SIDE BAR -->
            <div class="col-sm-12 col-md-3 side-bar">
                <div class="row title">
                    <img src="images/penn-logo.png" alt="penn state logo">
                </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    What Am I?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                I am here to help you with any questions about Penn State World Campus.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    Instructions
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas blandit odio, sed egestas lorem congue et. Fusce
                                pretium aliquam ex a congue. Proin iaculis ligula sem, non pharetra erat feugiat in. Duis
                                pretium est eget ipsum bibendum interdum. Vestibulum vel ante at nisi hendrerit euismod.
                                Aenean et ullamcorper massa. Phasellus eu eleifend metus, nec tristique felis. Donec a turpis
                                non mi efficitur molestie. Etiam id lectus mi.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    Example Questions
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas blandit odio, sed egestas lorem congue et. Fusce
                                pretium aliquam ex a congue. Proin iaculis ligula sem, non pharetra erat feugiat in. Duis
                                pretium est eget ipsum bibendum interdum. Vestibulum vel ante at nisi hendrerit euismod.
                                Aenean et ullamcorper massa. Phasellus eu eleifend metus, nec tristique felis. Donec a turpis
                                non mi efficitur molestie. Etiam id lectus mi.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseFour">
                                    Contact Us
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas blandit odio, sed egestas lorem congue et. Fusce
                                pretium aliquam ex a congue. Proin iaculis ligula sem, non pharetra erat feugiat in. Duis
                                pretium est eget ipsum bibendum interdum. Vestibulum vel ante at nisi hendrerit euismod.
                                Aenean et ullamcorper massa. Phasellus eu eleifend metus, nec tristique felis. Donec a turpis
                                non mi efficitur molestie. Etiam id lectus mi.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="side-bar-footer">
                    <hr>
                    <div class="text-benefits">
                        <p>
                            Sign up and enjoy the additional benefits of:<br>
                            <span style="font-style:italic;">
                            Personality Assessment<br>
                            Easy Question Retrieval<br>
                            Advising Assistance
                            </span>
                        </p>
                    </div>

                    <div class="col-md-12 buttons">
                        <div class="col-md-6 login">
                            <button class="btn-lg btn-default" type="submit" onclick="location.href='./login.html'">Login</button>
                        </div>
                        <div class="col-md-6 register">
                            <button class="btn-lg btn-default" type="submit" onclick="location.href='./register.html'">Register</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CHAT -->
            <div class="col-sm-12 col-md-9 current-chat">
                <h2 class="lite-header"> Lite Version </h2>
                <hr>
                <div class="row current-chat-area">
                    <div class="col-md-12 row scroll-chat">
                        <ul class="media-list row" id="chat">
                            <li class="media">
                                <div class="media-body row">
                                    <div class="pull-left">
                                        <img class="media-object img-circle" src="images/logo.png">
                                    </div>
                                    <div class="media-watson-info">
                                        <p class="media-text current-message">Hello! Ask any question you may have about college and I'll try my best to answer.</p>
                                        <small id="Watson-Time" class="text-muted"></small>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="current-chat-footer">
                        <div class="panel-footer">
                            <div class="input-group input-group-lg">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-microphone" aria-hidden="true"></i></button>
                                </span>
                                <input placeholder="Ask any question you may have ..." type="text" class="form-control" id="question">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="send"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- modal form Nor Currently Needed
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <p>Test for when we need a form&hellip;</p>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="inputFName" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="inputLName" placeholder="Last Name">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                 /.modal-content 
            </div> 
            <!-- /.modal-dialog 
        </div> -->
        <!-- /.modal -->
</body>

</html>
