.container-fluid {
    padding: 0px;
    height: 100%
}

.lite-header {
    text-align: center;
}

.full-body {
    height: 100%;
}

p {
    font-size: 1.5rem;
}

html, body {
    height:100%;
}

/* ------------------- SIDE BAR CSS ------------------- */

.side-bar {
    background-color: #0F7DC2;
    height: 100vh;
}



.title > img {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    display: block;
}

.side-bar-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
}

.panel-group {
    margin-bottom: 40px;
}

.side-bar-footer > hr {
    display: block;
    height: 1px;
    width: 75%;
    border: 0;
    border-top: 2px solid black;
    margin: 1em 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0; 
}

.text-benefits {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.text-benefits > p {
    color: white;
    display: inline-block;
    text-align: left;
}

.buttons {
    padding: 5px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.login button {
    width: 100%;
}

.register button {
    width: 100%;
}

@media only screen and (max-width: 991px) {
    .side-bar {
        min-height: 980px;
    }
    .side-bar-footer {
        position: relative;
    }
}

/* ------------------- CHAT AREA CSS ------------------- */
.current-chat {
    height: 100vh;
}

.current-chat-area {
    padding-top: 5px;
    overflow: auto;
    height: 89vh;
    width: auto;
}

.current-chat-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    right: 0px;
    margin-top: 10px;
}

.scroll-chat {
    margin-left: 10px;
    margin-top: 70vh;
    margin-bottom: 30px;
}

@media only screen and (min-height: 1000px) {
   .scroll-chat {
       margin-top: 75vh;
   }
}

@media only screen and (max-height: 840px) {
   .scroll-chat {
       margin-top: 60vh;
   }
}

/* ------------------- CHAT MESSAGE CSS ------------------- */

.media-list {
    margin-right: 10px;
    margin-left: 10px;
}

.pull-left > img {
    width: 80px;
    height: 90px;
}

.pull-right > img {
    width: 80px;
    height: 80px;
}

.media-watson-info {
    max-width: 90%;
    border-left: 2px solid;
    border-radius: 10px;
    background-color: #f0f0f0;
    margin-top: 15px;
    padding: 10px;
    float: left;
}

.media-user-info {
    max-width: 90%;
    border-right: 2px solid;
    border-radius: 10px;
    background-color: #f0f0f0;
    margin-right: 10px;
    padding: 10px;
    float: right;
}

.media-text {
    margin-bottom: 0px;
}

.other-answers {
    margin-left: 75px;
}

/* USED FOR CHAT.HTML */
.side-options:visited, .side-options:link, .side-options:hover {
    color: whitesmoke;
    text-decoration: none;
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 75%;
}

.side-nav > hr  {
    display: block;
    height: 1px;
    width: 75%;
    border: 0;
    border-top: 2px solid black;
    margin: 1em 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0; 
}