html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

.container-fluid {
  padding: 0px;
  height: 100%
}

.lite-header {
  text-align: center;
}

.full-body {
  height: 100%;
}

p {
  font-size: 1.5rem;
}

/*
a {
  color: #fbff00;
}
*/

/* effect-shine */

a.effect-shine {
  padding: 2px 5px 2px 5px;
  background-color: #4f8dcc;
  display: inline-block;
  border-radius: 4px;
}

a.effect-shine:hover {
  color: #fbff00;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
  -webkit-mask-size: 200%;
  -webkit-animation: shine 2s infinite;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

html, body {
  height: 100%;
}

.disable-zoom {
  zoom: 100%;
  /* all browsers */
  -moz-transform: scale(1);
  /* Firefox */
}

/* ------------------- SIDE BAR CSS ------------------- */

.mobile-contact-wrap {
  padding: 5px 0 15px 0;
  text-align: center;
}

.mobile-contact-wrap span {
  color: white;
  display: block;
}

.contact-line:nth-child(1) {
  font-size: 1.5em;
}

.contact-line:nth-child(2) {
  font-size: 1em;
}

.side-bar {
  background-color: #0F7DC2;
  height: 100vh;
  position: relative;
  overflow-y: auto;
}

.title>img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  display: block;
}

.side-bar-footer {
  position: relative;
  width: 100%;
  top: 0em;
}

.panel-group {
  overflow-y: visible;
  height: auto;
}

/* centers the buttons at the bottom of the sidebar */

.centering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.side-bar-footer>hr {
  display: block;
  height: 1px;
  width: 75%;
  border: 0;
  border-top: 2px solid black;
  margin: 1em 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.text-benefits {
  display: block;
  width: 100%;
  text-align: center;
  margin: 5px 0 10px 0;
}

.text-benefits>p {
  color: white;
  display: inline-block;
}

.register-wrapper, .login-wrapper, .btn-profile, .logout {
  float: left;
  padding-right: 20px;
}

/*
.login-wrapper, .btn-profile {
  transform: translate(-50%, 25%);
}
*/

.tooltip, .arrow:after {
  background: white;
  border: 2px solid white;
}

.tooltip {
  pointer-events: none;
  opacity: 0;
  display: inline-block;
  position: absolute;
  padding: 10px 20px;
  color: #0F7DC2;
  border-radius: 20px;
  margin-top: 20px;
  -webkit-box-shadow: 0 0 7px black;
  box-shadow: 0 0 7px black;
}

.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}

.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  -webkit-box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
  box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.tooltip.active {
  opacity: 1;
  margin-top: 5px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.tooltip.out {
  opacity: 0;
  margin-top: -20px;
}

/*
.register-wrapper, .logout {
  transform: translate(-50%, 150%);
}
*/

.sidebar-btn {
  min-width: 110px;
}

@media only screen and (max-width:1025px) {
  p {
    font-size: 1.2rem;
  }
  .login button {
    width: 95px;
    padding: 5px 5px 5px 5px;
  }
  .register button {
    width: 95px;
    padding: 5px 5px 5px 5px;
  }
  .panel-body a {
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}

​ .buttons {
  padding: 5px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.login button {
  min-width: 95px;
}

.register button {
  min-width: 95px;
}

@media only screen and (max-width: 991px) {
  .side-bar {
    min-height: 980px;
  }
  .side-bar-footer {
    position: relative;
  }
}

@media only screen and (max-height: 620px) {
  .text-benefits {
    visibility: hidden;
  }
  .side-bar-footer>hr {
    visibility: hidden;
  }
}

/* ------------------- CHAT AREA CSS ------------------- */

.current-chat {
  height: 100vh;
  overflow: auto;
}

.profile {
  height: 100vh;
  overflow: auto;
  width: 78%;
}

.current-chat-area {
  padding-top: 5px;
  overflow: auto;
  height: 89vh;
  width: auto;
  padding-bottom: 37px;
}

@media only screen and (min-height: 310px) {
  .current-chat-area {
    height: 69vh;
  }
}

@media only screen and (min-height: 320px) {
  .current-chat-area {
    height: 70vh;
  }
}

@media only screen and (min-height: 332px) {
  .current-chat-area {
    height: 72vh;
  }
}

@media only screen and (min-height: 360px) {
  .current-chat-area {
    height: 74vh;
  }
}

@media only screen and (min-height: 375px) {
  .current-chat-area {
    height: 75vh;
  }
}

@media only screen and (min-height: 412px) {
  .current-chat-area {
    height: 76vh;
  }
}

@media only screen and (min-height: 412px) {
  .current-chat-area {
    height: 77vh;
  }
}

@media only screen and (min-height: 480px) {
  .current-chat-area {
    height: 73vh;
  }
}

@media only screen and (min-height: 533px) {
  .current-chat-area {
    height: 76vh;
  }
}

@media only screen and (min-height: 568px) {
  .current-chat-area {
    height: 77vh;
  }
}

@media only screen and (min-height: 600px) {
  .current-chat-area {
    height: 84vh;
  }
}

@media only screen and (min-height: 640px) {
  .current-chat-area {
    height: 80vh;
  }
}

@media only screen and (min-height: 667px) {
  .current-chat-area {
    height: 81vh;
  }
}

@media only screen and (min-height: 732px) {
  .current-chat-area {
    height: 85vh;
  }
}

@media only screen and (min-height: 736px) {
  .current-chat-area {
    height: 87vh;
  }
}

@media only screen and (min-height: 768px) {
  .current-chat-area {
    height: 87vh;
  }
}

@media only screen and (min-height: 800px) {
  .current-chat-area {
    height: 88vh;
  }
}

@media only screen and (min-height: 900px) {
  .current-chat-area {
    height: 89vh;
  }
}

@media only screen and (min-height: 950px) {
  .current-chat-area {
    height: 90vh;
  }
}

@media only screen and (min-height: 960px) {
  .current-chat-area {
    height: 90vh;
  }
}

@media only screen and (min-height: 1024px) {
  .current-chat-area {
    height: 90vh;
  }
}

@media only screen and (min-height: 1280px) {
  .current-chat-area {
    height: 92vh;
  }
}

@media only screen and (min-height: 1366px) {
  .current-chat-area {
    height: 93vh;
  }
}

@media only screen and (min-height: 1600px) {
  .current-chat-area {
    height: 94vh;
  }
}

@media only screen and (min-height: 2560px) {
  .current-chat-area {
    height: 96vh;
  }
}

.current-chat-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  right: 0px;
  margin-top: 10px;
}

.scroll-chat {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 45px;
}

@media only screen and (min-height: 1000px) {
  .scroll-chat {
    margin-top: 10px;
  }
}

@media only screen and (max-height: 840px) {
  .scroll-chat {
    margin-top: 10px;
  }
}

@media only screen and (max-height: 640px) {
  .scroll-chat {
    margin-top: 10px;
  }
  .scroll-chat {
    margin-bottom: 45px;
  }
}

/* ------------------- CHAT MESSAGE CSS ------------------- */

.media-list {
  margin-right: 10px;
  margin-left: 10px;
}

.pull-left>img {
  width: 80px;
  height: 90px;
}

.pull-right>img {
  width: 80px;
  height: 80px;
}

.media-watson-info {
  max-width: 88%;
  border-left: 2px solid;
  border-radius: 10px;
  background-color: #4f8dcc;
  color: #ffffff;
  margin-top: 15px;
  padding: 10px;
  min-width: 60%;
  float: left;
}

.answer-switch-btn {
  display: inline-block;
  padding-right: 15px;
}

.media-user-info {
  max-width: 90%;
  border-right: 2px solid;
  border-radius: 10px;
  background-color: #eaece5;
  margin-right: 10px;
  padding: 10px;
  float: right;
}

.media-text {
  margin-bottom: 0px;
}

.additional {
  margin-top: 10px;
  font-style: italic;
  color: #FDF5E6;
}

.answer-body {
  margin-top: 10px;
}

.answer-list {
  margin-top: 10px;
}

.answer-list-item {
  color: purple;
  border-radius: 5px;
  max-width: 92%;
}

.other-answers {
  /*margin-left: 75px;*/
  margin: 10px 0 0 20px;
}

/* USED FOR CHAT.HTML */

.side-options:visited, .side-options:link, .side-options:hover {
  color: whitesmoke;
  text-decoration: none;
  font-size: 36px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 75%;
}

.side-nav>hr {
  display: block;
  height: 1px;
  width: 75%;
  border: 0;
  border-top: 2px solid black;
  margin: 1em 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.text-muted {
  color: #000
}

.contact-btn-group {
  position: relative;
  width: 80%;
}

.btn-contact-submit {
  margin-left: 40%;
  margin-right: 20px;
}

.btn-contact-discard, .btn-contact-submit {
  font-family: sans-serif;
  font-size: 1.2em;
  margin-top: 20px;
  font-weight: 100;
  padding: 10px 20px 10px 20px;
  15px 20px 15px 20px em;
}

.answer-extra-info {
  padding: 0 0 15px 0;
}

.read-more {
  position: relative;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 2.8px;
  padding-bottom: 2.8px;
  background: #0d5287;
  color: white;
  font-size: 14px;
  top: 10px;
  border-radius: 4px;
}

.read-more::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
}

.read-more:hover {
  background: #00b58b;
  color: white;
  cursor: default;
}

/* Arrow Buttons */

/* ------------- */

.read-more.next::after, .read-more.prev::after {
  border-style: solid;
}

/* Next Button */

/* ----------- */

.read-more.next::after {
  right: -20px;
  border-width: 11px;
  border-color: transparent transparent transparent #0d5287;
}

.read-more.next:hover::after {
  border-left-color: #00b58b;
}

/* Prev Button */

/* ----------- */

.read-more.prev {
  margin: 0px 0 0px 10px;
}

.read-more.prev::after {
  left: -20px;
  border-color: transparent #0d5287 transparent transparent;
  border-width: 11px;
}

.read-more.prev:hover::after {
  border-right-color: #00b58b;
}

/*answer progress style*/

.progress-section {
  margin-top: 20px;
}

.progress-indicator {
  width: 120px;
  height: 120px;
  position: relative;
  background-color: #d7d7d7;
  border-radius: 50%;
}

@media (max-width: 480px) {
  .progress-indicator {
    width: 85px;
    height: 85px;
  }
}

.progress-indicator .circle .mask, .progress-indicator .circle .fill, .progress-indicator .circle .shadow {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
}

@media (max-width: 480px) {
  .progress-indicator .circle .mask, .progress-indicator .circle .fill, .progress-indicator .circle .shadow {
    width: 85px;
    height: 85px;
  }
}

.progress-indicator .circle .mask, .progress-indicator .circle .fill {
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 1s;
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.progress-indicator .circle .mask.reanimate, .progress-indicator .circle .fill.reanimate {
  transition: -webkit-transform 0s;
  -webkit-transition: -webkit-transform 0s;
  transition: transform 0s;
  transition: transform 0s, -webkit-transform 0s;
}

.progress-indicator .circle .mask.reset, .progress-indicator .circle .fill.reset {
  -webkit-transform: rotate(0deg) !important;
  transform: rotate(0deg) !important;
}

.progress-indicator .circle .mask {
  clip: rect(0px, 120px, 120px, 60px);
}

@media (max-width: 480px) {
  .progress-indicator .circle .mask {
    clip: rect(0px, 85px, 85px, 42.5px);
  }
}

.progress-indicator .circle .mask .fill {
  clip: rect(0px, 60px, 120px, 0px);
  background-color: #EA463D;
}

@media (max-width: 480px) {
  .progress-indicator .circle .mask .fill {
    clip: rect(0px, 42.5px, 85px, 0px);
  }
}

.progress-indicator .inset {
  width: 100px !important;
  height: 100px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px !important;
  background-color: #fbfbfb;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
}

@media (max-width: 480px) {
  .progress-indicator .inset {
    width: 66px !important;
    height: 66px !important;
    margin: -33px 0 0 -33px !important;
    line-height: 90px;
  }
}

.progress-indicator .total-step-number {
  font-size: 26px;
  color: #777;
}

@media (max-width: 480px) {
  .progress-indicator .total-step-number {
    font-size: 18px;
  }
}

.progress-indicator .current-step-number {
  font-size: 37px;
}

@media (max-width: 480px) {
  .progress-indicator .current-step-number {
    font-size: 27px;
  }
}

.step {
  display: block;
  padding: 5px 0 25px 10px;
  max-width: 100%;
  min-width: 60%;
}

.step-content {
  max-width: 80%;
}

.step-content .step~.step {
  display: none;
}

.current-step-number, .total-step-number {
  color: #000;
}

.previous-step-btn, .next-step-btn {
  display: inline-block;
  font-size: 3em;
}

.step-control {
  /*margin\: -20px;*/
  margin: -20px 1% 0 0;
}

.step-control, .next-step-btn {
  float: right;
}

.step-image {
  max-width: 80%;
  padding: 15px;
}

.step-image:hover {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.cs-loader {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  left: -1%;
  width: 100%;
  color: #FFF;
  padding: 0 0px;
  text-align: center;
}

.cs-loader label {
  font-size: 20px;
  opacity: 0;
  display: inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader label:nth-child(6) {
  -webkit-animation: lol 1.5s infinite ease-in-out;
  animation: lol 1.5s infinite ease-in-out;
}

.cs-loader label:nth-child(5) {
  -webkit-animation: lol 1.5s 100ms infinite ease-in-out;
  animation: lol 1.5s 100ms infinite ease-in-out;
}

.cs-loader label:nth-child(4) {
  -webkit-animation: lol 1.5s 200ms infinite ease-in-out;
  animation: lol 1.5s 200ms infinite ease-in-out;
}

.cs-loader label:nth-child(3) {
  -webkit-animation: lol 1.5s 300ms infinite ease-in-out;
  animation: lol 1.5s 300ms infinite ease-in-out;
}

.cs-loader label:nth-child(2) {
  -webkit-animation: lol 1.5s 400ms infinite ease-in-out;
  animation: lol 1.5s 400ms infinite ease-in-out;
}

.cs-loader label:nth-child(1) {
  -webkit-animation: lol 1.5s 500ms infinite ease-in-out;
  animation: lol 1.5s 500ms infinite ease-in-out;
}

/*.loading-dot{
    position: absolute;
    z-index: 10;
    width: 67px;
    left:-11px;
    top: 27px;
    .dot{
      height: 17px;
      width: 17px;
      border-radius: 50%;
      background: #c1c1c1;
      display: block;
      float: left;
      margin: 0 0 0 8px;
      &:first-child{
        margin: 0;
      }
      &.one{
        -webkit-animation: cycleOne 1s ease-in-out infinite;
        -webkit-animation-direction: normal;
      }
      &.two{
        -webkit-animation: cycleTwo 1s ease-in-out infinite;
        -webkit-animation-direction: normal;
      }
      &.three{
        -webkit-animation: cycleThree 1s ease-in-out infinite;
        -webkit-animation-direction: normal;
      }
    }
}

@-webkit-keyframes cycleOne{
  0%{
    background: rgba(150, 150, 150, 0.4);
  }
  33.333%{
    background: rgba(150, 150, 150, 1);
  }
  66.6667%{
    background: rgba(150, 150, 150, 0.4);
  }
  100%{
    background: rgba(150, 150, 150, 0.4);
  }
}

@-webkit-keyframes cycleTwo{
  0%{
    background: rgba(150, 150, 150, 0.4);
  }
  33.333%{
    background: rgba(150, 150, 150, 0.4);
  }
  66.6667%{
    background: rgba(150, 150, 150, 1);
  }
  100%{
    background: rgba(150, 150, 150, 0.4);
  }
}

@-webkit-keyframes cycleThree{
  0%{
    background: rgba(150, 150, 150, 0.4);
  }
  33.333%{
    background: rgba(150, 150, 150, 0.4);
  }
  66.6667%{
    background: rgba(150, 150, 150, 0.4);
  }
  100%{
    background: rgba(150, 150, 150, 1);
  }
}*/

/*.typing-indicator {
  $ti-color-bg: #E6E7ED;
  background-color: $ti-color-bg;
  will-change: transform;
  width: auto;
  border-radius: 50px;
  padding: 20px;
  display: table;
  margin: 0 auto;
  position: relative;
  animation: 2s bulge infinite ease-out;
  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: -2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $ti-color-bg;
  }
  &::after {
    height: 10px;
    width: 10px;
    left: -10px;
    bottom: -10px;
  }
  span {
    height: 15px;
    width: 15px;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        animation: 1s blink infinite ($i * .3333s);
      }
    }
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes bulge {
  50% {
    transform: scale(1.05);
  }
}

// vertically center demo
html {
  display: table;
  height: 100%;
  width: 100%;
}

body {
  display: table-cell;
  vertical-align: middle;
}
*/

.loading-info {
  position: relative;
  width: 5%;
  z-index: -1;
}

.scrollable {
  padding-top: 2px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 89vh;
  width: auto;
  padding: 15px;
}

.form-check p {
  font-size: 2rem;
}

.loading-animation-warpper .cs-loader {
  color: #4f8dcc;
}

.loading-animation-warpper {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.32);
  z-index: 999999;
}

.logged-answers {
  background-color: #4f8dcc;
  color: #ffffff;
}

/*
.forgetPassword {}
*/

.icon {
  cursor: pointer;
}

/* fix border on tour step bubble*/

.tour-lite-version, .tour-lite-version-2 {
  border-radius: 9px;
  z-index: 99999;
}

.input-group-lg .expose, .input-group-lg .expose:focus, .expose {
  z-index: 99999;
  position: relative;
}

#overlay {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99998;
}

#lite-example-question-list {
  list-style: none;
  padding: 5px;
}

#lite-example-question-list a {
  color: black;
  cursor: pointer;
}

.hopscotch-bubble-number {
  display: none;
}

.watson-power-tag {
  border-radius: 3px;
  padding: 1px 3px 1px 3px;
  background-color: #fff6f3;
}

.small-chat-bubble-icon {
  height: 18px;
}

.logout, .btn-profile, .profile-area {
  display: none;
}

.panel-body a, .effect-shine {
  color: #fbff00;
}

/*Profile area style*/

.profile-area {
  display: none;
  padding: 0 10px 0 10px;
}

.profile-personality {
  margin-left: -230px;
  position: relative;
  left: 50%;
  margin-top: 55px;
  display: none;
}

.profile-wordCloud {
  display: none;
}

.btn-profile-introduction-save {
  position: relative;
  padding: 8px 20px 8px 20px;
  margin: 10px 0 20px -73px;
  left: 100%;
}

#word-cloud {
  position: relative;
  left: 50%;
  /*width: 500px;
  height: 400px;*/
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@-webkit-keyframes bake-pie {
  from {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes bake-pie {
  from {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

main {
  margin: 30px auto;
}

.pieID {
  display: inline-block;
  /* vertical-align: top; */
}

.pie {
  height: 200px;
  width: 200px;
  position: relative;
  margin: 0 30px 30px 0;
}

.pie::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  background: #EEE;
  border-radius: 50%;
  top: 50px;
  left: 50px;
}

.pie::after {
  content: "";
  display: block;
  width: 120px;
  /* height: 2px; */
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  /* box-shadow: 0 0 3px 4px rgba(0,0,0,0.1); */
  /* margin: 220px auto; */
}

.slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
  -webkit-animation: bake-pie 1s;
  animation: bake-pie 1s;
}

.slice span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
}

.legend {
  list-style-type: none;
  top: -68px;
  background: #FFF;
  padding: 15px;
  position: relative;
  font-size: 13px;
}

.legend li {
  height: 1.25em;
  margin-bottom: 0.7em;
  padding-left: 0.5em;
  border-left: 1.25em solid black;
}

.legend em {
  font-style: normal;
  padding: 0 10px 0 0;
}

.legend span {
  float: right;
}

/* form starting stylings ------------------------------- */

.group {
  position: relative;
  margin-bottom: 45px;
}

.profile-input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
  overflow-x: hidden;
}

.profile-input:focus {
  outline: none;
}

/* LABEL ======================================= */

.profile-label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: -20px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* BOTTOM BARS ================================= */

.profile-input-bar {
  position: relative;
  display: block;
  width: 300px;
}

.profile-input-bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.profile-input-bar:before {
  left: 50%;
}

.profile-input-bar:after {
  right: 50%;
}

/* HIGHLIGHTER ================================== */

.profile-highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.question-tab {
  display: none;
}

.logged-questions {
  display: none;
}

.logged-questions-btn-group {
  position: fixed;
  display: block;
  clear: both;
  top: 13px;
}

.unsatisfy-question-body {
  padding-left: 10px;
  text-decoration: none;
}

.unsatisfy-question-feature {
  float: left;
  border: 1px solid lightblue;
  border-radius: 11px;
  text-align: center;
  padding: 0 10px 0 10px;
  margin-left: 28px;
}

.sample-question-container, .contact-container {
  display: none;
}

.center {
  position: relative;
  te;
  */ width: 76%;
  left: 10%;
  margin-top: 5%;
}

.contact-input, .contact-comment {
  width: 80%;
  resize: vertical;
}

.refresh-btn-sample-question {
  position: relative;
  padding: 10px 0 30px 0;
  font-size: 3em;
  left: 50%;
  width: 100px;
}

.sample-question-area {
  overflow-y: auto;
}

.example-question-list {
  float: left;
  padding: 0 20px 20px 5%;
  list-style: none;
  min-width: 50%;
}

.example-question-list label {
  border-radius: 4px;
  border: 1px solid black;
  padding: 5px;
}

.example-question-list li {
  padding: 0 0 5px 0;
  font-size: 1.3em;
}

.suggest-question-element {
  cursor: default;
}

.suggest-question-element:hover {
  text-decoration: underline;
}

.user-Account-Action {
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  left: 50%;
  position: absolute;
  width: 100%;
}

.spin {
  -webkit-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.server-status, .ai-status-container, .server-status-area, .dev-team-area {
  display: none;
}

/*table*/

.tbl-contact-ticket {
  display: none;
}

.responstable {
  margin: 1em 0;
  width: 80%;
  overflow: hidden;
  background: #FFF;
  color: #024457;
  border-radius: 10px;
  border: 1px solid #167F92;
}

.responstable tr {
  border: 1px solid #D9E4E6;
}

.responstable tr:nth-child(odd) {
  background-color: #EAF3F3;
}

.responstable th {
  display: none;
  border: 1px solid #FFF;
  background-color: #167F92;
  color: #FFF;
  padding: 1em;
}

.responstable th:first-child {
  display: table-cell;
  text-align: center;
  min-width: 117px;
}

.responstable th:nth-child(2) {
  min-width: 46px;
  display: table-cell;
}

.responstable th:nth-child(2) span {
  display: none;
}

.responstable th:nth-child(2):after {
  content: attr(data-th);
}

.responstable th:nth-child(4) {
  min-width: 223px;
}

@media (min-width: 480px) {
  .responstable th:nth-child(2) span {
    display: block;
  }
  .responstable th:nth-child(2):after {
    display: none;
  }
}

.responstable td {
  display: block;
  word-wrap: break-word;
  max-width: 7em;
}

.responstable td:first-child {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #D9E4E6;
}

@media (min-width: 480px) {
  .responstable td {
    border: 1px solid #D9E4E6;
  }
}

.responstable th, .responstable td {
  text-align: left;
  margin: .5em 1em;
}

@media (min-width: 480px) {
  .responstable th, .responstable td {
    display: table-cell;
    padding: 1em;
  }
}

/* Developer Team */

#hexGrid {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  padding: 0.866% 0;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

#hexGrid:after {
  content: "";
  display: block;
  clear: both;
}

.hex {
  position: relative;
  list-style-type: none;
  float: left;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate(-60deg) skewY(30deg) translatez(-1px);
  transform: rotate(-60deg) skewY(30deg) translatez(-1px);
}

.hex * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
}

.hexIn {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
}

/*** HEX CONTENT **********************************************************************/

.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.hex h1, .hex p {
  color: white;
  width: 102%;
  left: -1%;
  /* prevent line on the right where background doesn't cover image */
  padding: 5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 128, 128, 0.8);
  font-weight: 300;
  -webkit-transition: -webkit-transform .2s ease-out, opacity .3s ease-out;
  -webkit-transition: opacity .3s ease-out, -webkit-transform .2s ease-out;
  transition: opacity .3s ease-out, -webkit-transform .2s ease-out;
  transition: transform .2s ease-out, opacity .3s ease-out;
  transition: transform .2s ease-out, opacity .3s ease-out, -webkit-transform .2s ease-out;
}

.hex h1 {
  bottom: 50%;
  padding-top: 50%;
  font-size: 1.5em;
  z-index: 1;
  -webkit-transform: translateY(-100%) translatez(-1px);
  transform: translateY(-100%) translatez(-1px);
}

.hex h1:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid #fff;
}

.hex p {
  top: 50%;
  padding-bottom: 50%;
  -webkit-transform: translateY(100%) translatez(-1px);
  transform: translateY(100%) translatez(-1px);
}

/*** HOVER EFFECT  **********************************************************************/

.hexIn:hover h1, .hexIn:hover p {
  -webkit-transform: translateY(0%) translatez(-1px);
  transform: translateY(0%) translatez(-1px);
}

/*** SPACING AND SIZING *****************************************************************/

@media (min-width:1201px) {
  /* <- 5-4  hexagons per row */
  .hex {
    width: 19.2%;
    /* = (100-4) / 5 */
    padding-bottom: 22.170%;
    /* =  width / sin(60deg) */
  }
  .hex:nth-child(9n+6), .hex:nth-child(9n+7), .hex:nth-child(9n+8), .hex:nth-child(9n+9) {
    margin-top: -4.676%;
    margin-bottom: -4.676%;
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }
  .hex:nth-child(9n+6):last-child, .hex:nth-child(9n+7):last-child, .hex:nth-child(9n+8):last-child, .hex:nth-child(9n+9):last-child {
    margin-bottom: 0;
  }
  .hex:nth-child(9n+6) {
    margin-left: 0.5%;
    clear: left;
  }
  .hex:nth-child(9n+10) {
    clear: left;
  }
  .hex:nth-child(9n+2), .hex:nth-child(9n+7) {
    margin-left: 1%;
    margin-right: 1%;
  }
  .hex:nth-child(9n+3), .hex:nth-child(9n+4), .hex:nth-child(9n+8) {
    margin-right: 1%;
  }
}

@media (max-width: 1200px) and (min-width:901px) {
  /* <- 4-3  hexagons per row */
  .hex {
    width: 24.25%;
    /* = (100-3) / 4 */
    padding-bottom: 28.001%;
    /* =  width / sin(60deg) */
  }
  .hex:nth-child(7n+5), .hex:nth-child(7n+6), .hex:nth-child(7n+7) {
    margin-top: -6.134%;
    margin-bottom: -6.134%;
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }
  .hex:nth-child(7n+5):last-child, .hex:nth-child(7n+6):last-child, .hex:nth-child(7n+7):last-child {
    margin-bottom: 0;
  }
  .hex:nth-child(7n+2), .hex:nth-child(7n+6) {
    margin-left: 1%;
    margin-right: 1%;
  }
  .hex:nth-child(7n+3) {
    margin-right: 1%;
  }
  .hex:nth-child(7n+8) {
    clear: left;
  }
  .hex:nth-child(7n+5) {
    clear: left;
    margin-left: 0.5%;
  }
}

@media (max-width: 900px) and (min-width:601px) {
  /* <- 3-2  hexagons per row */
  .hex {
    width: 32.666%;
    /* = (100-2) / 3 */
    padding-bottom: 37.720%;
    /* =  width / sin(60) */
  }
  .hex:nth-child(5n+4), .hex:nth-child(5n+5) {
    margin-top: -8.564%;
    margin-bottom: -8.564%;
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }
  .hex:nth-child(5n+4):last-child, .hex:nth-child(5n+5):last-child {
    margin-bottom: 0;
  }
  .hex:nth-child(5n+4) {
    margin-right: 1%;
    margin-left: 0.5%;
  }
  .hex:nth-child(5n+2) {
    margin-left: 1%;
    margin-right: 1%;
  }
  .hex:nth-child(5n+6) {
    clear: left;
  }
}

@media (max-width: 600px) {
  /* <- 2-1  hexagons per row */
  .hex {
    width: 49.5%;
    /* = (100-1) / 2 */
    padding-bottom: 57.158%;
    /* =  width / sin(60) */
  }
  .hex:nth-child(3n+3) {
    margin-top: -13.423%;
    margin-bottom: -13.423%;
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }
  .hex:nth-child(3n+3):last-child {
    margin-bottom: 0;
  }
  .hex:nth-child(3n+3) {
    margin-left: 0.5%;
  }
  .hex:nth-child(3n+2) {
    margin-left: 1%;
  }
  .hex:nth-child(3n+4) {
    clear: left;
  }
}

.modal-title {
  display: inline-block;
  font-size: 2em;
}

.modal-header .close {
  font-size: 2.5em;
}

.modal-body{
      display: inline-block;
}

.avatar-container {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.avatar {
	width: auto;
	height: auto;
	min-width: 250px;
	min-height: 250px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	-webkit-box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	img { width: 100%;
	height: auto; }
}



#team-member-info-modal label{
  display: block;
  font-weight:normal;
  font-size: 1.5em;
  padding: 0 0 0 10px;
}

.label-name, .label-title, .label-skill, .label-link,.label-description{
  margin: 20px 0 20px 20%;
  font-size: 1.5em !important;
}

.label-description{
  text-transform:capitalize;
font-size: 1em !important;
}

.developer-skill{
  margin: 10px 10px 0 0;
    border-radius: 15px;
}

.badge-wrapper {
  margin: 0px 0 0 -25%;
  /* width: 90%; */
  /* max-width: 900px; */
  /* margin: 3em auto; */
  text-align: center;
}

.title-badge {
  position: relative;
  margin: 0.5em 1.5em;
  width: 3em;
  height: 5.2em;
  border-radius: 10px;
  display: inline-block;
  top: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.title-badge:before, .title-badge:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.title-badge:before {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}
.title-badge:after {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}
.title-badge:hover {
  top: -4px;
  z-index: 15;
  -webkit-box-shadow: 1px 1px 1px gray;
  box-shadow: 26px 20px 60px grey;
}
.title-badge .circle {
  width: 60px;
  height: 60px;
  position: absolute;
  background: #fff;
  z-index: 10;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.title-badge .circle i.fa {
  font-size: 2em;
  margin-top: 8px;
}
.title-badge .font {
  display: inline-block;
  margin-top: 1em;
}
.title-badge .ribbon {
  position: absolute;
  border-radius: 4px;
  padding: 5px 5px 4px;
  max-width: 250px;
  min-width: 150px;
  z-index: 11;
  color: #fff;
  bottom: -21px;
  /* left: 50%; */
  margin-left: -41px;
  height: auto;
  font-size: 12px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.27);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.27);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right bottom, from(#555), to(#333));
  background: linear-gradient(to bottom right, #555 0%, #333 100%);
  cursor: default;
}

.yellow {
  background: -webkit-gradient(linear, left top, right bottom, from(#ffeb3b), to(#fbc02d));
  background: linear-gradient(to bottom right, #ffeb3b 0%, #fbc02d 100%);
  color: #ffb300;
}

.orange {
  background: -webkit-gradient(linear, left top, right bottom, from(#ffc107), to(#f57c00));
  background: linear-gradient(to bottom right, #ffc107 0%, #f57c00 100%);
  color: #f68401;
}

.pink {
  background: -webkit-gradient(linear, left top, right bottom, from(#F48FB1), to(#d81b60));
  background: linear-gradient(to bottom right, #F48FB1 0%, #d81b60 100%);
  color: #dc306f;
}

.red {
  background: -webkit-gradient(linear, left top, right bottom, from(#f4511e), to(#b71c1c));
  background: linear-gradient(to bottom right, #f4511e 0%, #b71c1c 100%);
  color: #c62828;
}

.purple {
  background: -webkit-gradient(linear, left top, right bottom, from(#ab47bc), to(#4527a0));
  background: linear-gradient(to bottom right, #ab47bc 0%, #4527a0 100%);
  color: #7127a8;
}

.teal {
  background: -webkit-gradient(linear, left top, right bottom, from(#4DB6AC), to(#00796B));
  background: linear-gradient(to bottom right, #4DB6AC 0%, #00796B 100%);
  color: #34a297;
}

.blue {
  background: -webkit-gradient(linear, left top, right bottom, from(#4FC3F7), to(#2196F3));
  background: linear-gradient(to bottom right, #4FC3F7 0%, #2196F3 100%);
  color: #259af3;
}

.blue-dark {
  background: -webkit-gradient(linear, left top, right bottom, from(#1976D2), to(#283593));
  background: linear-gradient(to bottom right, #1976D2 0%, #283593 100%);
  color: #1c68c5;
}

.green {
  background: -webkit-gradient(linear, left top, right bottom, from(#cddc39), to(#8bc34a));
  background: linear-gradient(to bottom right, #cddc39 0%, #8bc34a 100%);
  color: #7cb342;
}

.green-dark {
  background: -webkit-gradient(linear, left top, right bottom, from(#4CAF50), to(#1B5E20));
  background: linear-gradient(to bottom right, #4CAF50 0%, #1B5E20 100%);
  color: #00944a;
}

.silver {
  background: -webkit-gradient(linear, left top, right bottom, from(#E0E0E0), to(#BDBDBD));
  background: linear-gradient(to bottom right, #E0E0E0 0%, #BDBDBD 100%);
  color: #9e9e9e;
}

.gold {
  background: -webkit-gradient(linear, left top, right bottom, from(#e6ce6a), to(#b7892b));
  background: linear-gradient(to bottom right, #e6ce6a 0%, #b7892b 100%);
  color: #b7892b;
}


blockquote {margin: 20px 0 20px 0;padding: 5px 0 5px 0;font-style: italic;line-height: 1.45;position: relative;color: #383838;}

blockquote:before {display: block;font-size: 80px;position: absolute;top: -20px;color: #7a7a7a;}

@media (max-width: 400px) {
  #hexGrid {
    font-size: 13px;
  }
}
