<div class="nb-error">
    <div class="error-code">404</div>
    <h3 class="font-bold"><%- JSON.stringify(locals.type, null, 4) %></h3>

    <div class="error-desc">
        <%- JSON.stringify(locals.message, null, 4) %>
        <!-- <ul class="list-inline text-center text-sm">
            <li class="list-inline-item"><a href="/" class="text-muted">Home</a>
            </li>
        </ul> -->
    </div>
</div>
